<%= simple_form_for [:dashboard, project] do |f| %>
  <%= f.input :name, required: true %>

  <div data-controller="character-counter" data-character-counter-countdown-value="true">
    <%= f.input :banner_text, hint: 'Máximo de 100 caractéres', input_html: { maxlength: "100", data: { character_counter_target: 'input' } } %>
    <p>
      Restam
      <strong data-character-counter-target="counter"></strong> caracteres nesse campo.
    </p>
  </div>

  <%= render 'dashboard/shared/form/banner_input', element: project, form: f %>
  <%= render 'dashboard/shared/form/submit_cancel', element: project, form: f %>
<% end %>
