<div class="card__dashboard">
  <%= render 'dashboard/shared/header', collection: @projects, title: 'Projects', header_path: new_dashboard_project_path, link_text: 'project' %>
  <div class="dashboard__list px-3">
    <div class="dashboard__list__header py-3 border-bottom">
      <div class="row">
        <div class="col-1">
          <input type="checkbox" name="checkAll" id="checkAll">
        </div>
        <div class="col-9">
          Name
        </div>
        <div class="col-2">
          Actions
        </div>
      </div>
    </div>

    <% @projects.each do |project| %>
      <div class="list__card py-3">
        <div class="row">
          <div class="col-1">
            <input type="checkbox" name="<%= dom_id(project) %>" id="<%= dom_id(project) %>">
          </div>
          <div class="col-9">
            <div class="d-flex align-items-center gap-2">
              <%= image_tag project.banner, width: '40px', height: '40px', class: 'avatar' %>
              <%= link_to project.name, dashboard_project_path(project) %>
            </div>
          </div>
          <div class="col-2">
            <ul class="list-inline mb-0">
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'book'), '#' %>
              </li>
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'pencil'), edit_dashboard_project_path(project) %>
              </li>
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'trash'), '#' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
