<div class="card__dashboard">
  <div class="dashboard__header border-bottom">
    <div class="d-flex justify-content-between align-items-center p-3">
      <h1>Projects <small class='text-muted highlight'><%= pluralize(@projects.size, 'project') %></small></h1>
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <%= link_to new_dashboard_project_path, class: 'btn-base' do %>
            <%= icon('fa-solid', 'plus') %> Add project
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="dashboard__list px-3">
    <div class="row">
      <div class="col-1">
        <input type="checkbox" name="checkAll" id="checkAll">
      </div>
      <div class="col-7">
        Name
      </div>
      <div class="col-4">
        Actions
      </div>
    </div>

    <% @projects.each do |project| %>
      <div class="list__card py-3">
        <div class="row">
          <div class="col-1">
            <input type="checkbox" name="<%= dom_id(project) %>" id="<%= dom_id(project) %>">
          </div>
          <div class="col-7">
            <div class="d-flex align-items-center gap-2">
              <%= image_tag project.banner, width: '40px', height: '40px', class: 'avatar' %>
              <%= link_to project.name, dashboard_project_path(project) %>
            </div>
          </div>
          <div class="col-4">
            <ul class="list-inline mb-0">
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'book'), '#' %>
              </li>
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'pencil'), '#' %>
              </li>
              <li class="list-inline-item border-0">
                <%= link_to icon('fa-solid', 'trash'), '#' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
