<% collection.each do |element| %>
  <tr>
    <% element.class.dashboard_headers.each do |header| %>
      <% if %w[updated\ at created\ at].include? header %>
        <td><%= element.send(header.gsub(' ', '_').to_sym).in_time_zone.strftime('%b %e, %Y - %H:%M:%S') %></td>
      <% elsif header == 'thumbnail' %>
          <td><%= image_tag element.send(header.to_sym), width: '82px', alt: "#{element.class} thumbnail" %></td>
      <% elsif header == 'banner' %>
        <% if element.send(header.gsub(' ', '_').to_sym).attached? %>
          <td><%= image_tag element.send(header.gsub(' ', '_').to_sym).url, width: '62px', alt: "#{element.class} thumbnail" %></td>
        <% else %>
          <td><%= image_tag 'default-banner.png', width: '62px', alt: 'default banner' %></td>
        <% end %>
      <% elsif header == 'published' %>
        <td>
            <%= simple_form_for [:dashboard, element] do |f| %>
              <%= f.input :published, input_html: { checked: element.not_published? }, wrapper_html: { hidden: true } %>
              <%= f.submit element.published ? 'Despublicar' : 'Publicar', class: "btn btn-rede-#{element.published ? 'secondary' : 'primary-l'} text-white" %>
            <% end %>
        </td>
      <% else %>
        <td><%= element.send(header.gsub(' ', '_').to_sym) %></td>
      <% end %>
    <% end %>
    <td>
      <ul class="list-inline mb-0">
        <% if policy(element).show? %>
          <li class="list-inline-item border-0"
              data-controller='tooltip'
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              data-bs-title="Ver no site">
            <%= link_to icon('fa-solid', 'book'), url_for(element), target: '_blank', id: dom_id(element)  %>
          </li>
        <% end %>
        <% if policy(element).edit? %>
          <li class="list-inline-item border-0"
                        data-controller='tooltip'
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-title="Editar">
            <%= link_to icon('fa-solid', 'pencil'), route_for_edit_dashboard(element), id: "edit_#{dom_id(element)}" %>
          </li>
        <% end %>

        <% if policy(element).destroy? %>
          <li class="list-inline-item border-0"
              data-controller='tooltip'
              data-bs-toggle="tooltip"
              data-bs-placement="left"
              data-bs-title="Remover">
            <%= link_to icon('fa-solid', 'trash'), route_for_destroy_dashboard(element), id: "destroy_#{dom_id(element)}", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
