<% form_path_ready =  params[:controller].match?(/dashboard/) ? [:dashboard, observatory] : observatory %>
<%= simple_form_for form_path_ready,
                    html: { class: 'row my-3' } do |f| %>
  <div class="col-12">
    <div class="row">
      <%= f.input :name,
                  placeholder: 'PEA - Arraial do Cabo',
                  wrapper_html: { class: 'input-group mb-3 row ' },
                  label_html: { class: 'input-group-text mb-0 col-1 flex-end' },
                  input_html: { class: 'col-11 form-control' }  %>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-8">
        <%= f.input :email,
                    placeholder: 'email@example.tld',
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
                    input_html: { class: 'col-10 form-control' }  %>
      </div>
      <div class="col-4">
        <%= f.input :phone_number,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-4 flex-end' },
                    input_html: { class: 'col-10 form-control' }  %>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-8">
        <%= f.input :street,
                  wrapper_html: {
                    class: 'input-group mb-3 row'
                  },
                  label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
                  input_html: {
                    class: 'col-10 form-control'
                  }  %>
      </div>
      <div class="col-12 col-md-4">
        <%= f.input :number,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-4 flex-end' },
                    input_html: {
                      class: 'col-8 form-control'
                    }  %>

      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-8">
        <%= f.input :city,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
                    input_html: {
                      class: 'col-10 form-control'
                    }  %>

      </div>
      <div class="col-4">
        <%= f.input :neighborhood,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-4 flex-end' },
                    input_html: {
                      class: 'col-8 form-control',
                    }  %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-8">
        <%= f.input :state,
                  wrapper_html: { class: 'input-group mb-3 row ' },
                  label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
                  input_html: {
                    class: 'col-10 form-control'
                  }  %>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-5">
            <%= f.input :municipality,
                        wrapper_html: { class: 'input-group mb-3 row ' },
                        label_html: { class: 'input-group-text mb-0 col-5 flex-end' },
                        input_html: {
                          class: 'col-7 form-control'
                        }  %>
          </div>
          <div class="col-7">
            <%= f.input :zip_code,
                        wrapper_html: { class: 'input-group mb-3 row ' },
                        label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                        input_html: {
                          class: 'col-9 form-control'
                        }  %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <%= f.input :description,
                wrapper_html: { class: 'input-group mb-3 row ' },
                label_html: { class: 'input-group-text mb-0 col-12 flex-end', style: 'border-radius: 10px 10px 0 0;' },
                input_html: { class: 'col-10 form-control', style: 'min-height: 168px; border-radius: 0 0 10px 10px' }  %>
  </div>
  <div class="col-12">
    <%= f.association :priority_subjects,
                      wrapper_html: { class: 'input-group mb-3 row ' },
                      label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                      input_html: {
                        multiple: true, class: 'col-9 form-control',
                        data: { controller: 'tom-select', tom_select_max_item_value: 1 }
                      }  %>
  </div>
  <div class="col-12">
    <%= f.association :conflict_types,
                collection: ConflictType.all,
                wrapper_html: { class: 'input-group mb-3 row ' },
                label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                input_html: {
                  class: 'col-9 form-control',
                  data: { controller: 'tom-select', tom_select_max_item_value: 1 }
                }  %>
  </div>
  <div class="col-12">
    <%= f.association :unity_type,
                      wrapper_html: { class: 'input-group mb-3 row ' },
                      label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                      input_html: {
                        class: 'col-9 form-control',
                        data: { controller: 'tom-select', tom_select_max_item_value: 1 }
                      }  %>
  </div>

  <%= render 'dashboard/shared/form/banner_input', element: observatory, form: f %>
  <%= render 'dashboard/shared/form/submit_cancel', element: observatory, form: f %>
<% end %>
