<% form_path_ready =  params[:controller].match?(/dashboard/) ? [:dashboard, observatory] : observatory %>
<%= simple_form_for form_path_ready,
                    html: { class: 'row my-3' } do |f| %>
  <%= f.input :published, label: 'Publicado' %>
  <%= f.input :name,
              label: "Name",
              placeholder: 'PEA - Arraial do Cabo',
              wrapper_html: { class: 'input-group mb-3 row ' },
              label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
              input_html: { class: 'col-10 form-control' }  %>
  <div class="row">
    <div class="col-8">
      <%= f.input :email,
                  label: 'Email',
                  placeholder: 'email@example.tld',
                  wrapper_html: { class: 'input-group mb-3 row ' },
                  label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
                  input_html: { class: 'col-10 form-control' }  %>
    </div>
    <div class="col-4">
      <%= f.input :phone_number,
                  label: 'Telefone',
                  wrapper_html: { class: 'input-group mb-3 row ' },
                  label_html: { class: 'input-group-text mb-0 col-4 flex-end' },
                  input_html: { class: 'col-10 form-control' }  %>
    </div>
  </div>
  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <%= f.input :street,
              wrapper_html: {
                class: 'input-group mb-3 row',
                data: { address_autocomplete_target: 'streetWrapper'}
              },
              label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
              input_html: {
                class: 'col-10 form-control d-none',
                data: {
                  address_autocomplete_target: "street"
                }
              }  %>

    <div class="row">
      <div class="col-5">
        <%= f.input :number,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-5 flex-end' },
                    input_html: {
                      class: 'col-7 form-control',
                      data: {
                        address_autocomplete_target: 'number'
                      }
                    }  %>
      </div>
      <div class="col-7">
        <%= f.input :neighborhood,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                    input_html: {
                      class: 'col-9 form-control',
                      data: {
                        address_autocomplete_target: 'neighborhood'
                      }
                    }  %>
      </div>
    </div>
    <%= f.input :city,
            wrapper_html: { class: 'input-group mb-3 row ' },
            label_html: { class: 'input-group-text mb-0 col-2 flex-end' },
            input_html: {
              class: 'col-10 form-control',
              data: {
                address_autocomplete_target: 'city'
              }
            }  %>
    <div class="row">
      <div class="col-6">
        <%= f.input :state,
                  wrapper_html: { class: 'input-group mb-3 row ' },
                  label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                  input_html: {
                    class: 'col-9 form-control',
                    data: {
                      address_autocomplete_target: 'state'
                    }
                  }  %>
      </div>
      <div class="col-2">
        <%= f.input :municipality,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label: 'UF',
                    label_html: { class: 'input-group-text mb-0 col-6 flex-end' },
                    input_html: {
                      class: 'col-6 form-control',
                      data: {
                        address_autocomplete_target: 'municipality'
                      }
                    }  %>
      </div>
      <div class="col-4">
        <%= f.input :zip_code,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label: 'CEP',
                    label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                    input_html: {
                      class: 'col-9 form-control',
                      data: {
                        address_autocomplete_target: 'zip_code'
                      }
                    }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= f.input :latitude,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                    input_html: {
                      class: 'col-9 form-control',
                      data: {
                        address_autocomplete_target: 'latitude'
                      }
                    }  %>
      </div>
      <div class="col-6">
        <%= f.input :longitude,
                    wrapper_html: { class: 'input-group mb-3 row ' },
                    label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                    input_html: {
                      class: 'col-9 form-control',
                      data: {
                        address_autocomplete_target: 'longitude'
                      }
                    }  %>
      </div>
    </div>
  </div>
  <div class="col-12">
    <%= f.input :description,
                wrapper_html: { class: 'input-group mb-3 row ' },
                label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                input_html: { class: 'col-9 form-control', style: 'min-height: 168px' }  %>
  </div>
  <div class="col-12">
    <%= f.association :priority_subjects,
                      wrapper_html: { class: 'input-group mb-3 row ' },
                      label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                      input_html: {
                        multiple: true, class: 'col-9 form-control',
                        data: { controller: 'tom-select', tom_select_max_item_value: 10 }
                      }  %>
  </div>
  <div class="col-12">
    <%= f.input :conflict_type,
                collection: ConflictType.all,
                wrapper_html: { class: 'input-group mb-3 row ' },
                label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                input_html: {
                  class: 'col-9 form-control',
                  data: { controller: 'tom-select', tom_select_max_item_value: 1 }
                }  %>
  </div>
  <div class="col-12">
    <%= f.association :unity_type,
                      wrapper_html: { class: 'input-group mb-3 row ' },
                      label_html: { class: 'input-group-text mb-0 col-3 flex-end' },
                      input_html: {
                        class: 'col-9 form-control',
                        data: { controller: 'tom-select', tom_select_max_item_value: 1 }
                      }  %>
  </div>
  <%= render 'dashboard/shared/form/banner_input', element: observatory, form: f %>
  <%= render 'dashboard/shared/form/submit_cancel', element: observatory, form: f %>
<% end %>
