<%= render 'shared/breadcrumbs' %>

<div class="col-12 col-sm-6 map__wrapper"
                   data-controller="map"
                   data-map-markers-value="<%= [] %>"
                   data-map-source-value='Araruama',
                   data-map-url-value='mapbox://dedemenezes.6km03cve',
                   data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="map__container"
                      style="height: 52vh;"
                      data-map-target="mapContainer"
                      data-action="click->map#coverWarning">
  </div>
  <div class="map__cover h-100 w-100"
                    data-map-target="cover">
    <p class='mb-0'>Ative uma das opções de navegação</p>
    <%= image_tag 'arrow-up.svg', width: '40px', style: 'position: initial' %>
  </div>
  <nav id="listing-group" data-map-target="listingGroup" class="listing-group">
    <input type="checkbox" data-map-target="menuOption" id="scrollZoom">
    <label for="scrollZoom">Zoom com scroll</label>
    <input type="checkbox" data-map-target="menuOption" id="dragPan">
    <label for="dragPan">Arrastar e navegar</label>
  </nav>
</div>

<%= form_with url: '#',
              data: {
                controller: 'map--tileset--create',
                map__tileset__create_api_key_value: ENV['MAPBOX_SUPER_KEY'],
                action: 'submit->map--tileset--create#upload',
              } do |f| %>

  <%= f.text_field :name, data: { map__tileset__create_target: 'nameField' } %>
  <%= f.file_field :tileset, data: {action: 'change->map--tileset--create#fileSelected', map__tileset__create_target: 'fileField',  } %>
  <%= f.submit %>
<% end %>
