<%= simple_form_for([:dashboard, album],
                    html: {
                      data:{
                        controller: 'photo-preview',
                        controller: "sweetalert",
                        sweetalert_icon_value: "warning",
                        sweetalert_title_value: "Confirmar?",
                        sweetalert_html_value: "Atualizar galeria",
                        sweetalert_confirm_button_text_value: "Confirmar!",
                        sweetalert_show_cancel_button_value: true,
                        sweetalert_cancel_button_text_value: "Cancelar",
                        action: "submit->sweetalert#initSweetalert",
                        turbo: false
                      }
                    }) do |f| %>
  <%= f.input :name %>
  <%= f.association :gallery,
                    value: album.gallery,
                    wrapper_html: { class: 'input-group mb-3' },
                    label_html: { class: 'input-group-text mb-0' }
  %>
  <div data-controller="display-photo-input">
    <%= f.input :is_event,
                label: 'Foi uma ação',
                wrapper_html: {
                  class: 'tag-item'
                },
                input_html: {
                  class: 'ps-0 tag-selector tag-selector--large',
                  data: {
                    display_photo_input_target: 'checkbox',
                    action: 'change->display-photo-input#displayInput'
                  }
                } %>

    <%= f.input :event_date,
                as: :string,
                input_html: { data: { controller: 'flatpickr' } },
                wrapper_html: { class: 'box--anim box--hidden',
                data: { display_photo_input_target: 'input' } } %>
    <%= f.association :tags,
                input_html: { class: 'form-control', data: { controller: 'tom-select-create-option' } },
                label_html: { class: 'input-group-text mb-0'},
                wrapper_html: { class: 'box--anim box--hidden input-group',
                data: { display_photo_input_target: 'input' } } %>
  </div>


  <%= render 'dashboard/shared/form/banner_input', element: album, form: f %>


    <%= render 'dashboard/shared/form/album_attachments', form: f, element: album %>

  <div class="d-flex align-items-center gap-2 mb-3">
    <%= f.input :published,
                hint: '',
                input_html: { class: "tag-selector tag-selector--large", data: { action: 'change->publish-checkbox#updateHint', publish_checkbox_target: 'input'  } },
                wrapper_html: { class: 'tag-item mt-3', data: { controller: 'publish-checkbox', publish_checkbox_text_value: 'Publicar' } },
                label_html: { data: { publish_checkbox_target: 'label' } }
    %>

    <%= f.input :main_featured,
                hint: '',
                input_html: {
                  class: "tag-selector tag-selector--large",
                  data: { action: 'change->publish-checkbox#updateHint',
                  publish_checkbox_target: 'input'  }
                },
                wrapper_html: {
                  class: 'tag-item mt-3',
                  data: { controller: 'publish-checkbox',
                  publish_checkbox_text_value: 'Destaque',
                  publish_checkbox_featured_value: @has_featured }
                },
                label_html: { data: { publish_checkbox_target: 'label' } }
    %>
  </div>

  <div class="d-flex justify-content-between mt-5">
    <%= f.submit album.new_record? ? "Criar #{album.model_name.human}" : "Atualizar #{album.model_name.human}", class: 'btn btn-primary shadow-sm' %>
    <% if @album.category == 'photo' %>
      <%= link_to 'Cancelar', imagens_dashboard_albums_path, class: 'btn btn-rede-light btn-rede-light--small shadow-sm' %>
    <% else %>
      <%= link_to 'Cancelar', :back, class: 'btn btn-rede-light btn-rede-light--small shadow-sm' %>
    <% end %>
  </div>
<% end %>
