<%= simple_form_for([:dashboard, album], html: {data:{controller: 'photo-preview'}}) do |f| %>
  <%= f.input :published %>
  <%= f.input :name %>
  <%= f.association :gallery, value: album.gallery %>
  <div data-controller="display-photo-input">
    <%= f.input :is_event, label: 'Foi uma ação', input_html: { data: { display_photo_input_target: 'checkbox', action: 'change->display-photo-input#displayInput' } } %>
    <%= f.input :event_date, as: :string, input_html: { data: { controller: 'flatpickr' } },  wrapper_html: { class: 'box--anim box--hidden d-block', data: { display_photo_input_target: 'input' } } %>
    <%= f.association :tags, input_html: { data: { controller: 'tom-select-create-option' } },  wrapper_html: { class: 'box--anim box--hidden d-block', data: { display_photo_input_target: 'input' } } %>
  </div>


  <%= render 'dashboard/shared/form/banner_input', element: album, form: f %>

  <div class="attachment-inputs" data-controller="toggle-element">
    <div class="d-flex justify-content-start align-items-center">
      <div class="form-check tag-item">
        <%= check_box_tag :with_images,
                          '1',
                          false,
                          class: 'form-check-input tag-selector',
                          data: {
                            action: 'change->toggle-element#photoInput'
                          } %>
        <label class="form-check-label" for="with_images">Galeria com imagens</label>
      </div>
      <div class="d-none" data-toggle-element-target='photoInput'>
        <%= f.input :photos,
                    as: :file,
                    input_html: {
                      multiple: true,
                      class: 'd-none',
                      data: {
                        photo_preview_target: "photoInput",
                        action: 'change->photo-preview#displayFilesCounter'
                      }
                    },
                    label_html: {
                      class: 'upload-photo',
                      data: {
                        photo_preview_target: 'photoPreview'
                      }
                    },
                    label: '📷 Selecione as imagens' %>
      </div>
      <div class="form-check">
        <%= check_box_tag :with_documents,
                          '1',
                          false,
                          class: 'form-check-input tag-selector',
                          data: {
                            action: 'change->toggle-element#docInput'
                          } %>
        <label class="form-check-label" for="with_documents">Galeria com documentos</label>
      </div>
      <div class="hidden__el" data-toggle-element-target='docInput'>
        <%= f.input :documents,
                    as: :file,
                    input_html: {
                      multiple: true,
                      class: 'd-none',
                      data: {
                        photo_preview_target: "photoInput",
                        action: 'change->photo-preview#displayFilesCounter'
                      }
                    },
                    label_html: {
                      class: 'upload-photo',
                      data: {
                        photo_preview_target: 'photoPreview'
                      }
                    },
                    label: "🗄 Selecione os arquivos" %>
      </div>
    </div>


  </div>
    <%= render 'dashboard/shared/form/submit_cancel', element: album, form: f %>
<% end %>
