<%= simple_form_for([:dashboard, album],
                    html: {
                      data:{
                        controller: 'photo-preview',
                        controller: "sweetalert",
                        sweetalert_icon_value: "warning",
                        sweetalert_title_value: "Confirmar?",
                        sweetalert_html_value: "Atualizar galeria",
                        sweetalert_confirm_button_text_value: "Confirmar!",
                        sweetalert_show_cancel_button_value: true,
                        sweetalert_cancel_button_text_value: "Cancelar",
                        action: "submit->sweetalert#initSweetalert",
                        turbo: false
                      }
                    }) do |f| %>
  <%= f.input :published %>
  <%= f.input :name %>
  <%= f.association :gallery, value: album.gallery %>
  <div data-controller="display-photo-input">
    <%= f.input :is_event, label: 'Foi uma ação', input_html: { data: { display_photo_input_target: 'checkbox', action: 'change->display-photo-input#displayInput' } } %>
    <%= f.input :event_date, as: :string, input_html: { data: { controller: 'flatpickr' } },  wrapper_html: { class: 'box--anim box--hidden d-block', data: { display_photo_input_target: 'input' } } %>
    <%= f.association :tags, input_html: { data: { controller: 'tom-select-create-option' } },  wrapper_html: { class: 'box--anim box--hidden d-block', data: { display_photo_input_target: 'input' } } %>
  </div>


  <%= render 'dashboard/shared/form/banner_input', element: album, form: f %>

  <div data-controller="toggle-on-change">
    <%= f.input :category, collection: Album::CATEGORIES, input_html: { data: { action: 'change->toggle-on-change#update'} } %>
    <div class="d-none" data-toggle-on-change-target="video">
      <%= f.simple_fields_for :videos do |form_video| %>
        <%= form_video.input :url %>
      <% end %>
      <div class="d-flex justify-content-end align-items-center">
        <div class="btn btn-rede-primary">
          <span>Adicionar URL </span><%= icon('fa-solid', 'plus') %>
        </div>
      </div>
    </div>

    <%= render 'dashboard/shared/form/album_attachments', form: f %>
  </div>

  <%= render 'dashboard/shared/form/submit_cancel', element: album, form: f %>
<% end %>
