<div class="container">
  <div class="cards__index">
    <% @album.photos.each do |photo| %>
      <div class="album__card">
        <% case photo.blob.content_type %>
        <% when "image/jpeg" %>
          <%= image_tag photo.url, width: '100%' %>
          <%= link_to 'Usar como banner', update_banner_dashboard_album_path(photo.record, photo_id: photo.id), data: { turbo_method: 'patch' }, class: 'btn btn-primary album__card__link card__link--hidden' %>
        <% when "application/pdf" %>
          <%= link_to photo.blob.filename.to_s, photo.url %>
        <% end %>
      </div>
    <% end %>
    <%= simple_form_for([:dashboard, @album], html: {data:{controller: 'photo-preview'}}) do |f| %>
      <%= f.association :gallery, value: @album.gallery, wrapper_html: { hidden: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'd-none', data: { photo_preview_target: "photoInput", action: 'change->photo-preview#displayFilesCounter' } }, label_html: { class: 'upload-photo', data: { photo_preview_target: 'photoPreview' } }, label: '📷 Upload a photo' %>
      <%= f.submit 'Add photos', class: 'btn btn-primary btn__album', data: { photo_preview_target: 'submit' } %>
    <% end %>
  </div>
</div>
