<%= simple_form_for([:dashboard, article], html: { class: 'row mt-3' }) do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-12">
              <%= f.input :featured, hint: "#{Article.featured ? 'Substituirá a notícia em destaque' : ''}" %>
            </div>
            <div class="col-12">
              <%= f.input :published %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12">
          <%= f.association :tags,
                      input_html: {
                        multiple: true,
                        data: { controller: 'tom-select' }
                      } %>
        </div>
        <div class="col-12">
          <%= f.association :observatory,
                      label: 'Observatory',
                      input_html: {
                        data: { controller: 'tom-select' }
                      } %>
        </div>
      </div>
    </div>
  </div>

  <%= f.input :banner, as: :file %>
  <%= f.input :header, hint: 'Máximo de 37 caractéres' %>
  <%= f.input :sub_header %>
  <%= f.rich_text_area :rich_body %>
  <%= f.submit 'Update', class: 'btn btn-primary mt-3 mb-5 w-100' %>
<% end %>
