<%= simple_form_for([:dashboard, article], html: { class: 'row mt-3' }) do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-12">
              <%= f.input :featured, hint: "#{Article.featured ? 'Substituirá a notícia em destaque' : ''}" %>
            </div>
            <div class="col-12">
              <%= f.input :published %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="row">
        <div class="col-12">
          <%= f.association :tags,
                      input_html: {
                        multiple: true,
                        data: { controller: 'tom-select', tom_select_max_item_value: 20 }
                      } %>
        </div>
        <div class="col-12"
             data-controller="display-button-on-hover"
             data-display-button-on-hover-writer-type-value="<%= article.current_writer_type %>">
          <div class="row">
            <div class="col-12">
              <p class="mb-2"><%= Article.human_attribute_name(:writer) %></p>
              <% if article.errors.include?(:writer) %>
                <p class="invalid-feedback d-block"><%= article.errors[:writer].first  %></p>
              <% end %>
              <div class="d-flex justify-content-between align-items-center w-100 mb-3">
                <button class="btn btn-primary" data-action='click->display-button-on-hover#project' data-display-button-on-hover-target='projectBtn'>
                  Projeto
                </button>
                <button class="btn btn-primary" data-action='click->display-button-on-hover#observatory' data-display-button-on-hover-target='observatoryBtn'>
                  Observatório
                </button>
                <button class="btn btn-primary" data-action='click->display-button-on-hover#methodology'  data-display-button-on-hover-target='methodologyBtn'>
                  Metodologia
                </button>
              </div>
            </div>
            <div class="col-12">
              <%= f.association :project,
                          label: 'Projeto',
                          selected: Project.first,
                          wrapper_html: {
                            class: 'box--anim box--hidden w-100',
                            data: { display_button_on_hover_target: 'project' }
                          },
                          input_html: {
                            data: {
                              controller: 'tom-select',
                              tom_select_max_item_value: 1,
                              display_button_on_hover_target: 'projectInput'
                             }
                          } %>
            </div>
            <div class="col-12">
              <%= f.association :observatory,
                          label: 'Observatorio',
                          wrapper_html: {
                            class: 'box--anim box--hidden w-100',
                            data: { display_button_on_hover_target: 'observatory' }
                          },
                          input_html: {
                            data: {
                              controller: 'tom-select',
                              tom_select_max_item_value: 1,
                              display_button_on_hover_target: 'observatoryInput'
                             }
                          } %>
            </div>
            <div class="col-12">
              <%= f.association :methodology,
                          label: 'Metodologia',
                          wrapper_html: {
                            class: 'box--anim box--hidden w-100',
                            data: { display_button_on_hover_target: 'methodology' }
                          },
                          input_html: {
                            data: {
                              controller: 'tom-select',
                              tom_select_max_item_value: 1,
                              display_button_on_hover_target: 'methodologyInput'
                             }
                          } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'dashboard/shared/form/banner_input', element: article, form: f %>
  <div data-controller="character-counter" data-character-counter-countdown-value="true">
    <%= f.input :header, hint: 'Máximo de 80 caractéres', input_html: { maxlength: "80", data: { character_counter_target: 'input' } } %>
    <p>
      Restam
      <strong data-character-counter-target="counter"></strong> caracteres nesse campo.
    </p>
  </div>
  <%= f.input :sub_header %>
  <div data-controller="trix">
    <%= f.input :rich_body, as: :rich_text_area, input_html: { data: { trix_target: 'editor' } } %>
  </div>

  <%= render 'dashboard/shared/form/submit_cancel', element: article, form: f %>
<% end %>
