<div class="article__card">
  <div class="card__image" style='background-image:url(<%= display_banner_as_background(article) %>);height: <%= highlight ? "448px" : "147px" %>; background-size: cover; background-position: center;'></div>
  <div class="article__card__content">
    <% unless highlight %>
      <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
    <% end %>
    <div class="card__content__header d-flex justify-cotent-start gap-2">
      <% if highlight %>
        <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
      <% end %>
      <%# <small>= article.tags.first.name</small> %>
      <% article.tags.each do |tag| %>
        <small class="tag"><%= link_to tag.name, articles_path(tags: [tag.name]) %></small>
      <% end %>
    </div>
    <%= link_to article_path(article) do %>
      <h5 class="mb-0"><%= article.header.truncate(highlight ? 45 : 37) %></h5>
      <% if highlight %>
        <p class="mb-0"><%= @featured_article.sub_header.truncate(120) %></p>
      <% end %>
    <% end %>
  </div>
</div>
