<div class="article__card">
  <div class="card__image <%= highlight ? "card__image--highlight" : "" %>" style='background-image:url(<%= display_banner_as_background(article) %>); background-size: cover; background-position: center;'></div>
  <div class="article__card__content">
    <% unless highlight %>
      <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
    <% end %>
    <div class="card__content__header d-flex justify-cotent-start gap-2">
      <% if highlight %>
        <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
      <% end %>
      <%# <small>= article.tags.first.name</small> %>
      <% article.tags.each do |tag| %>
        <%= link_to articles_path(tags: [tag.name]) do %>
        <small class="tag"><%= tag.name %></small>
        <% end %>
      <% end %>
    </div>
    <%= link_to article_path(article) do %>
      <h5 class="text-reset mb-lg-0"><%= article.header.truncate(100) %></h5>
      <% if highlight %>
        <p class="mb-0"><%= @featured_article.sub_header.truncate(120) %></p>
      <% end %>
    <% end %>
  </div>
</div>
