<%# article - instance %>
<%# min_height -> Card Height  %>
<%# highlight -> main card on index page %>
<div class="article__card <%= min_height %> <%= highlight ? '' : 'reveal' %>", data-scroll-reveal-target='item'>
  <%= link_to article_path(article) do %>
    <div class="card__image <%= highlight ? "card__image--highlight" : "" %>" style='background-image:url(<%= display_banner_as_background(article) %>); background-size: cover; background-position: center;'></div>
    <div class="article__card__content">
      <div class="card__content__header d-flex justify-cotent-start gap-2">
        <small><%= article.updated_at.strftime('%d.%m.%Y') %></small>
        <%# <small>= article.tags.first.name</small> %>
        <div class="home_article_tags gap-2">
          <% article.tags.each_with_index do |tag, index| %>
              <small class="tag"><%= tag.name %></small>
            <%#= link_to articles_path(tags: [tag.name]) do %>
            <%# end %>
          <% end %>
        </div>
      </div>
      <%= link_to article_path(article) do %>
        <% if highlight %>
          <h5 class="text-reset mb-lg-0"><%= article.header %></h5>
        <% else %>
          <h5 class="text-reset mb-lg-0 fs-6"><%= article.header.truncate(80) %></h5>
        <% end %>
      <% end %>

      <% if highlight %>
        <p><%= article.rich_body.to_plain_text.truncate(170) %></p>
      <% end %>
    </div>
  <% end %>
</div>
