<div class="article__recent_new <%= 'mb-4' unless index == top_four.size - 1 %> mb-xl-0 reveal" data-scroll-reveal-target='item'>
  <%= link_to article_path(article) do %>
    <div class="card__image-bg card__image-bg--recent"
        style="background-image: url(<%= display_banner_as_background(article) %>);">
    </div>
  <% end %>
  <div class="article__info px-3 py-2 py-lg-3 pe-lg-3">
    <%= render Card::Article::ContentHeaderComponent.new(article: article) %>
    <%= link_to article_path(article) do %>
      <h5 class="text-reset mb-lg-0 fs-6 line-limit-3"><%= article.header.truncate(113) %></h5>
    <% end %>
  </div>
</div>
