<div class="article__card">
  <div class="card__image" style="background-image:url(<%= cl_image_path article.banner.key %>);height: <%= highlight ? '440px' : '147px' %>; background-size: cover; background-position: center;"></div>
  <%#= cl_image_tag article.banner.key, height: '147px' %>
  <div class="article__card__content">
    <% unless highlight %>
      <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
    <% end %>
    <div class="card__content__header d-flex justify-cotent-start gap-2">
      <% if highlight %>
        <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
      <% end %>
      <%# <small>= article.tags.first.name</small> %>
      <% article.tag_list.each do |tag| %>
        <small class="tag"><%= tag %></small>
      <% end %>
    </div>
    <h5 class="mb-0"><%= article.header.truncate(highlight ? 45 : 21) %></h5>
    <% if highlight %>
      <p class="mb-0"><%= @top_article.sub_header.truncate(120) %></p>
    <% end %>
  </div>
</div>
