<div class="container">
  <div data-controller="scroll-reveal"
       data-scroll-reveal-class-value="in"
       data-scroll-reveal-threshold-value="0"
       data-scroll-reveal-root-margin-value="10px">

    <div class="row justify-content-center mt-2 mb-5">
      <div class="col-12 mt-3">
        <div class="d-flex justify-content-between align-items-center border border-news border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
          <h1>Notícias</h1>
          <div class="drop__down">
            <button class="btn-icon d-none d-md-block" data-overlay-menu-target='btn' data-action="click->overlay-menu#toggle">
              Filtros
              <%= image_tag 'filter-icon-2.png', width: '12px' %>
            </button>
            <div class="drop__down__card"
                data-controller="checkbox-list"
                data-checkbox-list-count-text-value="selecionado">
              <span class="drop__down__counter" data-checkbox-list-target="count"></span>
              <%= form_with url: articles_path,  method: :get, html: { class: '' } do |f| %>
                <% Tag.all.each do |tag| %>
                  <% name = tag.name.gsub(' ', '').downcase %>
                  <div class="search__input--checkbox">
                    <%= label_tag "search[#{name}]", tag.name %>
                    <%= check_box_tag "search[#{name}]",
                                      dom_id(tag),
                                      params[name],
                                      name: "search[#{name}]",
                                      data: {
                                        action: 'change->checkbox-list#onCheck',
                                        checkbox_list_target: 'checkbox'
                                      },
                                      checked: (true if params[:search].present? && params[:search][name].present?) %>
                    <span class="rede-checkbox"></span>
                  </div>
                <% end %>
                <%= f.submit %>
              <% end %>
              <%= link_to 'Limpar', '#', data: { action: 'click->checkbox-list#checkNone' } %>
              <%= link_to 'Selecionar todas', '#', data: { action: 'click->checkbox-list#checkAll' } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if params[:tags] %>
      <div class="tags__searched mb-4">
        <%  params[:tags].reject(&:empty?).each do|tag_name| %>
          <%= link_to articles_index_tag_path(name: tag_name, tags: params[:tags]), data: { turbo_method: :delete }, style: 'z-index: 10' do %>
            <small class="tag">
              <%= tag_name %>
              <span class='text-warning'>x</span>
            </small>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @articles.empty? %>
      <h6>'Sem artigos no momento...'</h6>
    <% else %>
      <div class="articles__recent">
        <div class="row mb-3 mb-lg-4">
          <% @articles.each_with_index do |article, index| %>
            <% if index.zero? %>
              <div class="col-12 col-xl-6 article--main mb-3 mb-xl-0">
                <%= link_to article_path(article), class: 'text-reset' do %>
                  <%= render 'article_card', article: article, min_height: '', highlight: true %>
                <% end %>
              </div>
              <div class="col-12 col-xl-6">
                <div class="d-flex flex-column h-100 mb-childs <%= 'justify-content-between' if @articles.size > 5 %>">
            <% elsif index.positive? && index < 5 %>
                  <%= link_to article_path(article), class: 'reveal', data: { scroll_reveal_target: 'item' } do %>
                    <div class="article__recent_new">
                      <div class="card__image-bg card__image-bg--recent"
                          style="background-image: url(<%= display_banner_as_background(article) %>);">
                      </div>
                      <div class="article__info px-3 py-2 py-lg-3 pe-lg-3">
                        <div class="info__header d-flex align-items-center gap-3 mb-2">
                          <small><%= article.updated_at.strftime('%d.%m.%Y') %></small>
                          <% article.tags.each_with_index do |tag, index| %>
                            <small class="tag"><%= tag.name %></small>
                          <% end %>
                        </div>
                        <h5 class="text-reset mb-lg-0 fs-6"><%= article.header.truncate(81) %></h5>
                      </div>
                    </div>
                  <% end %>
            <% else %>
               <% if index == 5 %>
                </div>
              </div>
              <div class="row mt-4">
               <% end %>
                <div class="col-12 col-sm-6 col-md-4 article--list mb-4">
                  <%#= link_to article_path(article), class: 'text-reset' do %>
                    <%= render 'article_card', article: article, highlight: false, min_height: 'full-height' %>
                  <%# end %>
                </div>
              <% if index == @articles.count - 1 %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
