<div class="container">
  <div data-controller="scroll-reveal"
       data-scroll-reveal-class-value="in"
       data-scroll-reveal-threshold-value="0"
       data-scroll-reveal-root-margin-value="10px">

    <div class="row justify-content-center mt-2 mb-5">
      <div class="col-12 mt-3">
        <div class="d-flex justify-content-between align-items-center border border-news border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
          <h1>Notícias</h1>
          <div class="drop__down" data-controller='reveal-on-click'>
            <button class="btn-icon d-none d-md-flex"
                    data-overlay-menu-target='btn'
                    data-action="click->reveal-on-click#toggle"
                    data-reveal-on-click-target='button'>
              Filtros
              <%= image_tag 'sidearrow.svg', width: '12px', class: 'dropdown__icon', data: { reveal_on_click_target: 'icon' } %>
            </button>
            <div class="drop__down__card hidden__el"
                data-controller="checkbox-list"
                data-checkbox-list-count-text-value="selecionado"
                data-reveal-on-click-target="dropdown">
              <div class="drop__down__close" data-action='click->reveal-on-click#toggle'>
                <%= image_tag 'close-icon.svg', width: '12px' %>
              </div>
              <div data-controller="reveal-on-click">
                <div class="d-flex align-items-center gap-3 hover-cursor"
                     data-action="click->reveal-on-click#toggle">
                  <p class="text-header mb-0"
                     data-reveal-on-click-target='button'>Observatórios</p>
                  <%= image_tag 'sidearrow.svg', width: '12px', class: "#{'dropdown__icon' unless params[:search].present?}", data: { reveal_on_click_target: 'icon' } %>
                </div>
                <%= form_with url: articles_path,  method: :get, html: { class: "hidden__el #{'active' if params[:search].present?}", data: { reveal_on_click_target: 'dropdown' } } do |f| %>
                  <div class="drop__down__options" id="style-2">
                    <%# <small class="drop__down__counter" data-checkbox-list-target="count"></small> %>
                    <% Tag.all.each do |tag| %>
                      <% name = tag.name.gsub(' ', '').downcase %>
                      <div class="search__input--checkbox">
                        <%= label_tag "search[#{name}]" do %>
                          <%= check_box_tag "search[#{name}]",
                                            dom_id(tag),
                                            params[name],
                                            name: "search[#{name}]",
                                            data: {
                                              action: 'change->checkbox-list#onCheck',
                                              checkbox_list_target: 'checkbox'
                                            },
                                            checked: (true if params[:search].present? && params[:search][name].present?) %>
                          <%= tag.name %>
                        <% end %>
                        <%# <span class="rede-checkbox"></span> %>
                      </div>
                    <% end %>
                  </div>
                  <div class="d-flex align-items-center gap-2" style="font-size: .9rem;">
                    <%= f.submit 'Pesquisar', class: 'btn btn-primary' %>
                    <small>
                      <%= link_to 'Limpar', '#', class: 'btn btn-bd-light', data: { action: 'click->checkbox-list#checkNone' } %>
                    </small>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if params[:search] %>
      <div class="tags__searched mb-4">
        <%  params[:search].each do|tag_name, dom_id| %>
          <%= link_to articles_path(search: query_string_except(tag_name)), style: 'z-index: 10' do %>
            <%= params[:search] %>
            <%= tag_name %>
            <small class="tag">
              <%= tag_name %>
              <span class='text-warning'>x</span>
            </small>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @featured.nil? && @top_four.empty? %>
      <h6>'Sem artigos no momento...'</h6>
    <% else %>
      <div class="articles__recent">
        <div class="row mb-4">
          <div class="col-12 col-xl-6 mb-4 mb-xl-0">
            <%= render 'article_card', article: @featured, min_height: '', highlight: true %>
          </div>
          <div class="col-12 col-xl-6">
            <div class="h-100 d-flex flex-column <%= @top_four.size == 4 ? 'justify-content-between' : 'gap-4' %>">
              <% @top_four.each_with_index do |article, index| %>
                <%= render 'article_recent', article: article, index: index, top_four: @top_four %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row mb-3">
            <% @articles.each do |article| %>
              <div class="col-12 col-sm-6 col-lg-4 article--list mb-4">
                  <%= render 'article_card', article: article, highlight: false, min_height: 'full-height' %>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
