<div class="container">
  <div class="row justify-content-center mt-2 mb-5">
    <div class="col-12">
      <div class="overlay__wrapper d-flex justify-content-between align-items-center border border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4"
           data-controller="overlay-menu"
           data-action="mouseleave->overlay-menu#hide">
        <h1>Notícias</h1>
        <ul class="overlay__content" data-overlay-menu-target='menu'>
          <div class="row">
            <div class="col-4"></div>
          </div>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <button class="btn-icon" data-overlay-menu-target='btn' data-action="click->overlay-menu#toggle">
          Filtros
          <%= image_tag 'filter-icon-2.png', width: '12px' %>
        </button>
      </div>
    </div>
  </div>

  <% if Article.any_present? %>
    <div class="articles__recent">
      <div class="row mb-4">
        <div class="col-12 col-md-6 article--main">
          <%#= raise %>
          <%= link_to article_path(@featured_article), class: 'text-reset' do %>
            <%= render 'article_card', article: @featured_article, highlight: true if @featured_article %>
          <% end %>
        </div>
        <div class="col-12 col-md-6">
          <div class="recents--layout">
            <% @recent_articles.each do |article| %>
                <%= link_to article_path(article), class: 'text-reset' do %>
                  <%= render 'article_card', article: article, highlight: false %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
      <% @articles.each do |article| %>
        <div class="col-12 col-sm-6 col-md-4 article--list">
          <%= link_to article_path(article), class: 'text-reset' do %>
            <%= render 'article_card', article: article, highlight: false %>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>

</div>
