<div class="container">
  <div class="article__header" data-controller='overlay-menu'>
    <div class="row justify-content-center mt-2 mb-2">
      <div class="col-12">
        <div class="overlay__wrapper d-flex justify-content-between align-items-center border border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
          <h1>Notícias</h1>
          <button class="btn-icon d-none d-md-block" data-overlay-menu-target='btn' data-action="click->overlay-menu#toggle">
            Filtros
            <%= image_tag 'filter-icon-2.png', width: '12px' %>
          </button>
        </div>
      </div>
    </div>
    <div class="search__form mb-3" data-overlay-menu-target='formContainer'>
      <%= form_with url: articles_path, method: :get, html: { class: 'row justify-content-center align-items-center mb-3' } do |f| %>
        <div class="col-7 col-sm-6 col-md-5">
          <div class="row">
            <div class="col-12 d-none" data-overlay-menu-target='inputWrapper'>

              <%= f.collection_select(:tags, Tag.all, :name, :name,
                                      {},
                                      multiple: true,
                                      class: "form-select",
                                      id: "Seleccione",
                                      data: {
                                        controller: 'tom-select',
                                        tom_select_options_value: {tags: true},
                                        tom_select_max_item_value: 4
                                      }) %>
            </div>
          </div>
        </div>
        <div class="col-3">
          <%= f.submit 'Filter', class: 'btn btn-primary w-100' %>
        </div>
      <% end %>
    </div>
  </div>

  <% if params[:tags] %>
    <div class="tags__searched mb-4">
      <%  params[:tags].reject(&:empty?).each do|tag_name| %>
        <%= link_to articles_index_tag_path(name: tag_name, tags: params[:tags]), data: { turbo_method: :delete }, style: 'z-index: 10' do %>
          <small class="tag">
            <%= tag_name %>
            <span class='text-warning'>x</span>
          </small>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if Article.any_present? %>
    <div class="articles__recent">
      <div class="row mb-4">
        <div class="col-12 col-xl-6 article--main mb-3 mb-xl-0">
          <%#= raise %>
          <%#= link_to article_path(@featured_article), class: 'text-reset' do %>
            <%= render 'article_card', article: @featured_article, min_height: '', highlight: true if @featured_article %>
          <%# end %>
        </div>

        <div class="col-12 col-xl-6">
          <div class="recents--layout">
            <% @recent_articles.each do |article| %>
              <%= render 'article_card', article: article, min_height: '', highlight: false %>
                <%#= link_to article_path(article), class: 'text-reset' do %>
                <%# end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <% @articles.each do |article| %>
          <div class="col-12 col-sm-6 col-md-4 article--list mb-4">
            <%#= link_to article_path(article), class: 'text-reset' do %>
              <%= render 'article_card', article: article, highlight: false, min_height: 'full-height' %>
            <%# end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
