<% content_for :meta_title, "#{@writer.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.sub_header.truncate(100) %>
<% content_for :meta_image, display_banner_as_background(@article) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-4">
      <div class="article__show">
        <%= link_to articles_path, class: "btn btn-figma-light mb-4" do %>
          <%= image_tag 'arrow-down.svg', class: 'image--left', width: '16px', style: 'transform: rotate(90deg); margin-right: 16px;', alt: 'arrow down' %>
          voltar
        <% end %>

        <div class="show__header">
          <h1><%= @article.header %></h1>
          <p><%= @article.sub_header %></p>
          <small class='mb-1 text-muted'>Por <strong><%= @writer.name %></strong> - <%= Project.first.name %></small>
          <br>
          <small class='text-muted'><%= @article.created_at.strftime('%d/%m/%y %Hh%M') %> - <%= time_ago_in_words(@article.updated_at) %></small>
        </div>

        <div class="banner--article mb-4">
          <div class="image-filter--black"></div>
          <%= display_banner_image(@article.banner, width: '100%') %>
          <p class=" text-muted">
            <small>
              <%= @article.banner_subtitle %>
            </small>
          </p>
        </div>

        <%= @article.rich_body %>
      </div>
    </div>
  </div>
</div>
