<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1><%= @article.header %></h1>
      <div class="banner banner--article mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path(@article.banner.key) %>');">
        <div class="container flex-centered relativ-pos">
        </div>
      </div>
      <p class='mb-1'>Por: <%= @observatory.name.split.map{ _1.capitalize }.join(' ') %> em <%= @observatory.address %></p>
      <p class='text-muted' style='font-size: 14px;'><em><%= @article.created_at.strftime('%d/%m/%y %R') %></em></p>
      <h3><%= @article.sub_header %></h3>
      <div data-controller="article-highlight">
        <%= content_tag :div, data: { article_highlight_target: 'news' } do %>
          <%= @article.rich_body %>
        <% end %>
        <% if @article.highlight? %>
          <div class="d-flex align-items-center justify-content-between my-4" data-article-highlight-target='text'>
            <p style="padding: 12px 24px; letter-spacing: 2.1px; font-weight: 700;">
              <%= @article.highlight.truncate(99) %>
            </p>
            <%= image_tag @article.highlight_image, width: '50%' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
