<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9 mt-4">
      <div class="article__show">
        <%= link_to articles_path, class: "btn btn-figma-light mb-4" do %>
          <%= image_tag 'arrow-down.svg', class: 'image--left', width: '16px', style: 'transform: rotate(90deg); margin-right: 16px;' %>
          voltar
        <% end %>

        <div class="show__header">
          <h1><%= @article.header %></h1>
          <p><%= @article.sub_header %></p>
          <small class='mb-1 text-muted'>Por <strong><%= @observatory.name.split.map{ _1.capitalize }.join(' ') %></strong> - <%= Project.first.name %></small>
          <br>
          <small class='text-muted'><%= @article.created_at.strftime('%d/%m/%y %Hh%M') %> - <%= time_ago_in_words(@article.updated_at) %></small>
        </div>

        <div class="banner banner--article mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= display_banner_as_background(@article) %>');">
          <div class="container flex-centered relativ-pos">
          </div>
        </div>

        <%= @article.rich_body %>
      </div>
    </div>
  </div>
</div>
