<div class="container">
  <div class="row justify-content-center align-items-center my-5  ">
    <div class="col-12 col-sm-6 mt-md-4">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-4 text-center my-4">
          <%= image_tag 'ibama-logo.png', width: '82px' %>
        </div>
        <div class="col-12 col-md-4 text-center my-4">
          <%= image_tag 'prio-logo.png', width: '116px' %>
        </div>
        <div class="col-12 col-md-4 text-center my-4">
          <%= image_tag 'ambiental-logo.png', width: '146px' %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-5 text-center">
    <p style="font-size: .9rem;">A realização do PEA Rede Observação é uma medida de mitigação exigida pelo Licenciamento Ambiental Federal, conduzido pelo IBAMA.</p>
    </div>
  </div>
</div>
<div class="">
  <div class="card__image" style='transform: translateY(4px);background-image:url(<%= image_path('onda-footer.png') %>); background-size: cover; background-position: bottom;height: 130px;'>
    <div class="container social-links text-white h-100 align-items-end d-flex justify-content-end w-100">
      <ul class="list-inline-group">
        <li class="list-inline-item">
          <%= link_to "https://www.instagram.com/pearedeobservacao/", class: 'nav-link fs-5 text-reset', target: '_blank' do %>
            <%= icon('fa-brands', 'instagram') %>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to "https://www.facebook.com/pearedeobservacao/", class: 'nav-link fs-5 text-reset', target: '_blank'  do %>
            <%= icon('fa-brands', 'facebook') %>
          <% end %>
        </li>
        <li class="list-inline-item">
          <%= link_to "https://www.youtube.com/", class: 'nav-link fs-5 text-reset', target: '_blank' do %>
            <%= icon('fa-brands', 'youtube') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div class="bg-primary text-white">
    <div class="footer-links h-100">
      <div class="container py-3 fs-6">
        <div class="text-start text-md-center text-white mb-3">
          <%= link_to "Home", root_path, class: "active text-reset text-white" %>
          <%= link_to "Sobre nós", about_us_path, class: " text-reset" %>
          <%= link_to "Observatórios", observatories_path, class: " text-reset" %>
          <%= link_to "Acervo", galleries_path, class: " text-reset" %>
          <%= link_to "Notícias", articles_path, class: " text-reset" %>
          <%= link_to "Contato", new_contact_path, class: " text-reset" %>
        </div>
      </div>
      <%#= link_to "Home", "#", class: " active text-white" %>
      <%#= link_to "Sobre nós", "#", class: "link-light text-white" %>
      <%#= link_to "Observatórios", observatories_path, class: "link-light text-white" %>
      <%#= link_to "Notícias", articles_path, class: "link-light text-white" %>
      <%#= link_to "Contato", '#', class: "link-light text-white" %>
    </div>
    <p class="mb-0 pb-4 text-center font-size-fourteen">2023 PEA Rede Observação</p>

  </div>
</div>
