<nav class="navbar sticky-top bg-body navbar-visitor navbar-light navbar-expand-lg py-2"
     data-controller="css-classes"
     data-action="scroll@window->css-classes#onScroll"
     data-css-classes-scrolling-class="shadow-elevation-2">
  <div class="container">
    <%= link_to root_path, class: 'navabar-top-logo' do %>
      <%= image_tag 'Logo_PEA.png', width: '186px', alt: 'Logo do PEA Rede Observação' %>
    <% end %>
    <button class="navbar-toggler btn-nav position-absolute end-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuMobile" aria-controls="menuMobile" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <%# laptop nav seen after lg breakpoint %>
    <div class="d-none d-lg-flex flex-grow-1">
      <ul class="navbar-nav d-flex align-items-center justify-content-evenly flex-grow-1">
        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Sobre", about_us_path) %>
        <% end %>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Mapa", mapa_observatories_path) %>
        <% end %>

        <li class="dropdown position-inherit">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-menu-item-arrow">Observatórios</span> <i class="fa-solid fa-chevron-down" style="opacity: 0.7;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-radius-bottom w-100 shadow-bottom overflow-hidden bg-body border-0 p-0 mt-n1" data-bs-popper="static">
            <div class="bg-white shadow-elevation-1">
              <div class="container">
                <div class="py-4">
                  <div class="row">
                  <% @observatories.each do |observatory| %>
                    <div class="col-3">
                        <%= render NavLinkComponent.new(observatory[0], observatory_path(observatory[0])) %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%# Acervo %>
        <li class="dropdown position-inherit">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-menu-item-arrow">Acervos</span> <i class="fa-solid fa-chevron-down" style="opacity: 0.7;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-radius-bottom w-100 shadow-bottom overflow-hidden bg-body border-0 p-0 mt-n1" data-bs-popper="static">
            <div class="bg-white shadow-elevation-1">
              <div class="container">
                <div class="py-4">
                  <div class="row">
                    <div class="col-4"><%= render NavLinkComponent.new("Audiovisuais", acervos_videos_path) %></div>
                    <div class="col-4"><%= render NavLinkComponent.new("Imagens", imagens_galleries_path) %></div>
                    <div class="col-4"><%= render NavLinkComponent.new("Materiais", materials_path) %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Notícias", articles_path) %>
        <% end %>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Contato", new_contact_path) %>
        <% end %>
      </ul>
      <ul class="navbar-nav navbar-social">
        <% @social_urls.each do |social, link| %>
          <%= render NavItemComponent.new do %>
            <%= render NavLinkComponent.new(icon('fa-brands', social.to_s), "https://www.#{social.to_s}.com/#{link}/", css_class: 'fs-4 rede-link') %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%# Mobile nav hidden after lg breakpoint %>
    <div class="d-block d-lg-none">
      <%= render "shared/navbar_mobile" %>
    </div>
  </div>
</nav>
