<nav class="navbar sticky-top bg-body navbar-visitor navbar-light navbar-expand-lg py-2"
     data-controller="css-classes"
     data-action="scroll@window->css-classes#onScroll"
     data-css-classes-scrolling-class="shadow-elevation-2">
  <div class="container">
    <%= link_to root_path, class: 'navabar-top-logo' do %>
      <%= image_tag 'Logo_PEA.png', width: '186px', alt: 'Logo do PEA Rede Observação' %>
    <% end %>
    <button class="navbar-toggler btn-nav position-absolute end-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuMobile" aria-controls="menuMobile" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <%# laptop nav seen after lg breakpoint %>
    <div class="d-none d-lg-flex flex-grow-1">
      <ul class="navbar-nav d-flex align-items-center justify-content-evenly flex-grow-1">
        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Sobre", about_us_path) %>
        <% end %>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Mapa", mapa_observatories_path) %>
        <% end %>

        <li class="dropdown position-inherit">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-menu-item-arrow">Observatórios</span> <i class="fa-solid fa-chevron-down" style="opacity: 0.7;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-radius-bottom w-100 shadow-bottom overflow-hidden bg-body border-0 p-0 mt-n1" data-bs-popper="static">
            <div class="bg-white shadow-elevation-1">
              <div class="container">
                <div class="py-4">
                  <div class="row">
                  <% @observatories.each do |observatory| %>
                    <div class="col-3">
                        <%= render NavLinkComponent.new(observatory[0], observatory_path(observatory[0])) %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <%# Acervo %>
        <li class="dropdown position-inherit">
          <button class="nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-menu-item-arrow">Acervos</span> <i class="fa-solid fa-chevron-down" style="opacity: 0.7;"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-radius-bottom w-100 shadow-bottom overflow-hidden bg-body border-0 p-0 mt-n1" data-bs-popper="static">
            <div class="bg-white d-flex">
              <div class="container">
                <div class="row flex-nowrap">
                  <div class="d-flex flex-columns justify-content-between dropdowm-menu-panel-width" style="padding-top: 2rem !important; padding-bottom: 2rem !important;">
                    <ul class="nav d-inline-flex flex-column align-items-start nav-pills w-100">
                    <li class="mb-lg-3 w-100"><%= render NavLinkComponent.new("Audiovisuais", acervos_videos_path) %></li>
                    <li class="mb-lg-3 w-100"><%= render NavLinkComponent.new("Imagens", imagens_galleries_path) %></li>
                    <li class="mb-lg-3 w-100"><%= render NavLinkComponent.new("Materiais", materials_path) %></li>
                    </ul>
                  </div>
                  <div class="dropdown-pane position-relative w-100 border-start border-light" style="padding-top: 2rem !important; padding-bottom: 2rem !important;--bs-bg-opacity: 1;">
                    <div class=""
                         style="display: grid;
                                grid-template-columns: 1fr 1fr 2fr;
                                grid-gap: 16px;">
                      <% @nav_videos.each do |video| %>
                          <div style="aspect-ratio: 1 / 1; height: 100%">
                            <iframe frameborder="0"
                                        width="100%"
                                        height="100%"
                                        class='rounded'
                                        src='<%= Project::YOUTUBE_BASE_URL %><%= video.yt_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>'
                                        allowfullscreen>
                            </iframe>
                          </div>
                      <% end %>
                      <div class="see-more-pane d-flex flex-column justify-content-end align-items-start">
                        <span class="fw-600 fs-16 text-black mt-3 mb-2">Get personalized advice</span>
                        <p class="fs-14 fw-15 text-black opacity-60">We can help you navigate into tech careers, choose the right course and get financed.</p>
                        <%= link_to "Contact us", new_contact_path, class: 'btn btn-primary btn-sm' %>

                      </div>
                    </div>

                  </div>
                  </div>
                </div>
              </div>
            </div>
        </li>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Notícias", articles_path) %>
        <% end %>

        <%= render NavItemComponent.new do %>
          <%= render NavLinkComponent.new("Contato", new_contact_path) %>
        <% end %>
      </ul>
      <ul class="navbar-nav navbar-social">
        <% @social_urls.each do |social, link| %>
          <%= render NavItemComponent.new do %>
            <%= render NavLinkComponent.new(icon('fa-brands', social.to_s), "https://www.#{social.to_s}.com/#{link}/", css_class: 'fs-4 rede-link') %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%# Mobile nav hidden after lg breakpoint %>
    <div class="d-block d-lg-none">
      <%= render "shared/navbar_mobile" %>
    </div>
  </div>
</nav>
