<nav class="navbar navbar-expand-lg navbar-light text-primary">
  <div class="container">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'Logo_PEA.png', width: '186px' %>
      <% end %>
      <button class="navbar-toggler btn-nav" type="button" data-action="click->navbar-toggler#toggle"aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-mobile" id="navbarText" data-navbar-toggler-target='menu'>
        <ul class="navbar-nav mx-auto" data-navbar-toggler-target="menuList">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link #{tab_active?('pages' , action: 'home')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sobre nós", about_us_path, class: "nav-link #{tab_active?('pages' , action: 'about_us')}"%>
          </li>
          <li class="nav-item">
            <%= link_to "Mapa", mapa_observatories_path, class: "nav-link #{tab_active?('observatories' , action: 'mapa')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Observatórios", observatories_path, class: "nav-link #{tab_active?('observatories', action: 'index')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Acervo", galleries_path, class: "nav-link #{tab_active?('galleries')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Notícias", articles_path, class: "nav-link #{tab_active?('articles')}" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contato", new_contact_path, class: "nav-link #{tab_active?('contacts', action: 'new')}" %>
          </li>
        </ul>
        <% if user_signed_in? && current_user.admin && params[:controller] == 'dashboard' %>
          <%= link_to 'Sair', destroy_user_session_path, data: { turbo_method: :delete } if user_signed_in? %>
        <% else %>
          <span class="navbar-text" data-navbar-toggler-target="socialLinks">
            <ul class="navbar-nav navbar-social">
              <li class="nav-item">
                <%= link_to "https://www.instagram.com/pearedeobservacao/", class: 'nav-link fs-5', target: '_blank' do %>
                  <%= icon('fa-brands', 'instagram') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "https://www.facebook.com/pearedeobservacao/", class: 'nav-link fs-5', target: '_blank' do %>
                  <%= icon('fa-brands', 'facebook') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "https://www.youtube.com/", class: 'nav-link fs-5', target: '_blank' do %>
                  <%= icon('fa-brands', 'youtube') %>
                <% end %>
              </li>
            </ul>
          </span>
        <% end %>
      </div>
  </div>
</nav>
