<div class="navbar navbar-expand-sm navbar-lewagon <%= background_color %>">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'Logo_PEA.png', width: '224px' %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-grow-1 justify-content-center">
        <li class="nav-item">
          <%= link_to "Home", "#", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sobre nós", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Observatórios", observatories_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Acervo", '#', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Notícias", article_path(Article.first), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contato", '#', class: "nav-link" %>
        </li>
        <% if user_signed_in? && current_user.admin? %>
          <li class="nav-item">
            <%= link_to "Admin", home_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav navbar-social">
        <li class="nav-item">
          <%= link_to '#', class: 'nav-link fs-5' do %>
            <%= icon('fa-brands', 'instagram') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '#', class: 'nav-link fs-5' do %>
            <%= icon('fa-brands', 'facebook') %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '#', class: 'nav-link fs-5' do %>
            <%= icon('fa-brands', 'youtube') %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
