<% if header %>
  <div class="row justify-content-center mt-2">
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-between align-items-center  border border-rede-dark-red border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4 mb-4 reveal"
           data-scroll-reveal-target='item' >
        <%= content_tag tag, css_classes do %>
          Mapa de conflitos
        <% end %>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7">
        <p class='reveal' data-scroll-reveal-target="item">
        O mapeamento realizado pelo PEA Rede Observação tem como objetivo identificar os conflitos ambientais monitorados pelos observatórios e as formas de atuação dos grupos sociais envolvidos. Parte da narrativa e da perspectiva dos sujeitos prioritários do projeto, contribuindo para dar mais visibilidade às lutas pela integridade dos territórios tradicionais e pela manutenção das respectivas atividades produtivas.</p>
      </div>
    </div>
  </div>
<% end %>
<div class="map__wrapper"
     data-controller="map"
     data-map-style-value="mapbox://styles/dedemenezes/cltdkdgwl009t01qo7f6kbtlg"
     style="width:<%= (controller_name == 'observatories' && params[:action] == 'mapa') || controller_name == 'pages' ? '100%' : '' %> !important;"
     data-map-tilesets-value="<%= tilesets.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="map__container reveal <%= class_names({"map--lg": current_page?(mapa_observatories_path)}) %>"
       data-scroll-reveal-target='item'
       data-map-target='mapContainer'
       data-action="click->map#coverWarning">
  </div>
  <div class="map__cover h-100 w-100"
       data-map-target="cover">
    <p class='mb-0'>Ative uma das opções de navegação</p>
    <%= image_tag 'arrow-up.svg', width: '40px' %>
  </div>
  <nav id="listing-group" data-map-target="listingGroup" class="listing-group reveal"
      data-scroll-reveal-target='item'>
    <input type="checkbox" data-map-target="menuOption" id="scrollZoom">
    <label for="scrollZoom">Zoom com scroll</label>
    <input type="checkbox" data-map-target="menuOption" id="dragPan">
    <label for="dragPan">Arrastar e navegar</label>
  </nav>
</div>
