<% if header %>
  <div class="row justify-content-center mt-2">
    <div class="col-12 mt-3">
      <div class="d-flex justify-content-between align-items-center  border border-rede-dark-red border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4 mb-4 reveal"
           data-scroll-reveal-target='item' >
        <%= content_tag tag, css_classes do %>
          Mapa de conflitos
        <% end %>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7">
        <p class='reveal' data-scroll-reveal-target="item">
        O mapeamento realizado pelo PEA Rede Observação tem como objetivo identificar os conflitos ambientais monitorados pelos observatórios e as formas de atuação dos grupos sociais envolvidos. Parte da narrativa e da perspectiva dos sujeitos prioritários do projeto, contribuindo para dar mais visibilidade às lutas pela integridade dos territórios tradicionais e pela manutenção das respectivas atividades produtivas.</p>
      </div>
    </div>
  </div>
<% end %>
<div class="map__wrapper"
     data-controller="map fullscreen-element"
     data-map-style-value="mapbox://styles/dedemenezes/cltdkdgwl009t01qo7f6kbtlg"
     style="width:<%= (controller_name == 'observatories' && params[:action] == 'mapa') || controller_name == 'pages' ? '100%' : '' %> !important;"
     data-map-tilesets-value="<%= tilesets.to_json %>"
     data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
     data-map-can-close-value="false"
     data-fullscreen-element-maximize-icon-value="expand"
     data-fullscreen-element-minimize-icon-value="compress">

  <div class="map__container reveal <%= class_names({"map--lg": current_page?(mapa_observatories_path)}) %>"
       data-scroll-reveal-target='item'
       data-map-target='mapContainer'
       data-fullscreen-element-target="mapContainer">
       <%= render 'observatories/map_subtitles', map_subtitles: icons_and_texts %>
       <div class="fullscreen_icon btn btn-light" data-action="click->fullscreen-element#toggle" data-fullscreen-element-target="button">
         <%= icon('fa-solid', 'expand') %>
       </div>
  </div>
</div>
