<h1 class="text-center"><%= Observatory.model_name.human count: 2 %></h1>
<div class="cards-container">
  <div class="cards">
    <% @observatories.each do |observatory| %>
      <div class="card__observatory" style="background-image: url(<%= url_for(observatory.banner) if observatory.banner.attached? %>)"><%= observatory.name %>
      </div>
    <% end %>
  </div>
  <div style="width: 100%"
    class="card__map"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
