<% content_for :meta_title, "#{@observatory.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @observatory.description.truncate(100) %>
<% content_for :meta_image, display_banner_as_background(@observatory) %>

<div data-controller="scroll-reveal"
     data-scroll-reveal-class-value="in"
     data-scroll-reveal-threshold-value="0"
     data-scroll-reveal-root-margin-value="10px">
  <div class="banner__observatory"
        style="background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%), url(<%= display_banner_as_background @observatory %>);">
    <div class="container d-flex flex-column justify-content-between pt-3">
      <%= link_to request.referrer, class: 'btn btn-figma-light', width: '40px', data: { controller: 'display-button-on-hover--off' } do %>
        <%= image_tag 'arrow-down.svg', class: 'image--left', width: '16px', style: 'transform: rotate(90deg); margin-right: 16px' %>
        Voltar
      <% end %>
      <div class="banner__content" data-slide-n-fade='out'>
        <h1 class="home__text mb-0"><%= @observatory.name %></h1>
        <h6 class='text-white'><%= @observatory.priority_subjects.first(2).map(&:name).join(', ') %></h6>
        <div class="d-flex align-items-center">
          <%= image_tag 'icon-pin.png', class: 'me-2', width: '15px', height: '20px' %>
          <p class='mb-0'><%= @observatory.neighborhood %></p>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>

  <%# HEADER 2 %>
  <div class="container">
      <div class="banner__content mb-5 box--anim box--hidden  " data-slide-n-fade='out'>
        <h1 class="home__text mb-0 text-primary"><%= @observatory.name %></h1>
        <h6 class='text-primary'><%= @observatory.priority_subjects.first(2).map(&:name).join(', ') %></h6>
        <div class="d-flex align-items-center">
          <%= image_tag 'icon-pin-blue.png', class: 'me-2', width: '15px', height: '20px' %>
          <p class='mb-0'><%= @observatory.neighborhood %></p>
        </div>
      </div>

  <%# DESCRIPTION %>
    <div class="observatory__show mb-5">
        <div class="row justify-content-between w-100">
          <div class="col-12 text-start reveal" data-scroll-reveal-target='item' style="column-width: 421px;">
            <%= @observatory.description %>
          </div>
        </div>
    </div>

  <%# GALLERIES %>
    <%# <div class="cards__index cards__index--min-two mb-4"> %>
      <div class="cards--two mb-4" data-controller='photoswipe'>
        <% @photos.each do |photo| %>
          <a href="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            data-pswp-src="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            data-pswp-width="<%= photo.blob.metadata[:width] %>"
            data-pswp-height="<%= photo.blob.metadata[:height] %>"
            data-pswp-srcset="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            target="_blank"
            data-scroll-reveal-target='item'
            class="reveal">
            <div class="card__index text-primary">
              <div style="background: url('https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>');background-size: cover;background-position: center; border-radius: 10px;"></div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center text-primary">
          <%= link_to 'VER GALERIAS', gallery_path(@observatory.gallery), class: 'btn btn__secondary continuous-3 reveal', data: { scroll_reveal_target: "item" } %>
        </div>
      </div>

    <%# ACOES %>
    <% unless @observatory.events.empty? %>
    <div data-controller="filter-calendar">
      <div class="row justify-content-center mt-4">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center border border-warning border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-4">
            <h3 class='mb-0 fs-3 fs-md-2 flex-grow-1'>Últimas ações</h3>
            <div class="btn-icon btn-icon--square"
                data-controller='flatipickr'>
              <%= image_tag 'Calendar.png', data: { action: 'click->filter-calendar#formToggle' } %>
              <%= form_with url: events_path, method: :get, class: 'd-none box--anim box--hidden', data: { filter_calendar_target: 'form', action: 'submit->filter-calendar#search'} do |f| %>
                <div class="d-flex">
                  <%= text_field_tag :observatory, params[:name], hidden: true, data: { filter_calendar_target: 'observatoryInput' } %>
                  <%= text_field_tag :before_date,
                                     params[:before_date],
                                     class: 'form-input flex-grow-1 input--search',
                                     data: {
                                      action: 'change->filter-calendar#search',
                                      controller: 'flatpickr',
                                      flatpickr_is_range_value: 'true',
                                      filter_calendar_target: 'input'
                                    },
                                    placeholder: 'Antes de...' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider main container -->
      <%= render 'events/swiper', events: @observatory.events %>
    </div>
    <% end %>
  </div>

  <%# ARTICLES %>
  <div class="container mt-4">
    <div class="articles__home">
      <div class="row mb-5 justify-content-center">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center border border-news border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-4">
            <h3 class='mb-0 fs-3 fs-md-2'>Últimas notícias</h3>
          </div>
        </div>

        <div class="articles__recent">
          <div class="row mb-4">
            <div class="col-12 col-xl-6 article--main mb-3 mb-xl-0">
              <%= link_to article_path(@featured), class: 'text-reset' do %>
                <% cache @featured do %>
                  <%= render 'articles/article_card', article: @featured, min_height: '', highlight: true if @featured %>
                <% end %>
              <% end %>
            </div>

            <div class="col-12 col-xl-6"
                data-controller="scroll-reveal"
                data-scroll-reveal-class-value="in"
                data-scroll-reveal-threshold-value="0"
                data-scroll-reveal-root-margin-value="10px">
              <div class="d-flex flex-column justify-content-between h-100 mb-childs">
                <% @articles.each do |article| %>
                  <% cache article do %>
                    <%#= link_to article_path(article) do %>
                      <%#= render 'article_card', article: article, min_height: '', highlight: false %>
                      <%= link_to article, class: 'reveal', data: { scroll_reveal_target: 'item' } do %>
                        <div class="article__recent_new">
                          <div class="card__image-bg"
                              style="background-image: url(<%= display_banner_as_background(article) %>);">
                          </div>
                          <div class="article__info px-3 py-2 py-lg-3 pe-lg-3">
                            <div class="info__header d-flex align-items-center gap-3 mb-2">
                              <small><%= article.created_at.strftime('%d.%m.%Y') %></small>
                              <% article.tags.each_with_index do |tag, index| %>
                                <small class="tag"><%= tag.name %></small>
                              <% end %>
                            </div>
                            <h5 class="text-reset mb-lg-0 fs-6"><%= article.header.truncate(80) %></h5>
                          </div>
                        </div>
                      <% end %>
                    <%# end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# CONTACT %>
  <%= image_tag 'observatory_contact_wave_top.svg', width: '100%' %>
  <div class="observatory__contact">
    <div class="row">
      <div class="col-12">
        <div class="observatory__contact__wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="contact__info">
                  <h5>Contato</h5>
                  <div class="contact__list">
                    <div class="list-item">
                      <div class="d-flex align-items-center gap-3 reveal" data-scroll-reveal-target="item" >
                        <%= image_tag "mail-icon.svg", width: '20px' %>
                        <p class="mb-0 contact__text"><%= @observatory.email %></p>
                      </div>
                    </div>
                    <div class="list-item">
                      <div class="d-flex align-items-center gap-3 reveal" data-scroll-reveal-target="item">
                        <%#= image_tag "icon-pin-blue.png", width: '20px', height: '24px' %>
                        <i class="fas fa-map-marker-alt" style="font-size: 1.4rem;"></i>
                        <p class="mb-0 contact__text"><%= @observatory.address %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 reveal map__wrapper"
                   data-scroll-reveal-target="item"
                   data-controller="map"
                   data-map-markers-value="<%= @markers.to_json %>"
                   data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                <div class="map__container"
                      style="height: 52vh;"
                      data-map-target="mapContainer">
                </div>
                <nav id="listing-group" data-map-target="listingGroup" class="listing-group">
                  <input type="checkbox" data-map-target="menuOption" id="scrollZoom">
                  <label for="scrollZoom">Zoom com scroll</label>
                  <input type="checkbox" data-map-target="menuOption" id="dragPan">
                  <label for="dragPan">Arrastar e navegar</label>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
      </div>
    </div>
  </div>
  <%= image_tag 'observatory_contact_wave_bottom.svg', width: '100%' %>

</div>
