<div data-controller="slide-n-fade-r">
  <div class="banner__observatory"
        style="background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%), url(<%= display_banner_as_background @observatory %>);">
    <div class="container d-flex flex-column justify-content-between pt-3">
      <%= link_to observatories_path, class: 'btn btn-figma-light', width: '40px', data: { controller: 'display-button-on-hover', action: 'mouseenter->display-button-on-hover#display', action: 'mouseout->display-button-on-hover#hide'} do %>
        <%= image_tag 'arrow-down.svg', class: 'image--left', width: '16px', style: 'transform: rotate(90deg); margin-right: 16px' %>
        Voltar
      <% end %>
      <div class="banner__content" data-slide-n-fade='out'>
        <h1 class="home__text"><%= @observatory.name %></h1>
        <h6 class='text-white'><%= @observatory.priority_type.name %></h6>
        <div class="d-flex align-items-center">
          <%= image_tag 'icon-pin.png', class: 'me-2', width: '12px', height: '16.5px' %>
          <p class='mb-0'><%= @observatory.neighborhood %></p>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>

  <%# HEADER 2 %>
  <div class="container">
    <div class="banner__content mb-5" data-slide-n-fade='in'>
      <h1 class="home__text text-primary"><%= @observatory.name %></h1>
      <h6 class='text-primary'><%= @observatory.priority_type.name %></h6>
      <div class="d-flex align-items-center">
        <%= image_tag 'icon-pin-blue.png', class: 'me-2', width: '12px', height: '16.5px' %>
        <p class='mb-0'><%= @observatory.neighborhood %></p>
      </div>
    </div>

  <%# DESCRIPTION %>
    <div class="observatory__show mb-5">
        <div class="row justify-content-between w-100">
          <div class="col-12 text-start" style="column-width: 421px;">
            <%= @observatory.description %>
          </div>
        </div>
    </div>

  <%# GALLERIES %>
    <%# <div class="cards__index cards__index--min-two mb-4"> %>
      <div class="cards--two mb-4">
        <% @albums.each do |album| %>
          <div class="card__square" style="background-image: url(<%= display_banner_as_background(album) %>)">
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center text-primary">
          <%= link_to 'VER GALERIAS', gallery_path(@observatory.gallery), class: 'btn btn__secondary continuous-3' %>
        </div>
      </div>

    <%# ACOES %>
    <section class="events mb-4">
      <div class="events__header mb-3">
        <div class="d-flex align-items-center px-md-3">
          <div class="flex-grow-1">
            <h5 class='mb-0'>Últimas ações</h5>
          </div>
          <div class="btn-icon btn-icon--square">
            <%= image_tag 'Calendar.png' %>
          </div>
        </div>
      </div>



      <div class="container">

        <!-- Slider main container -->
        <div class="swiper" data-controller='swiper'>
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
             <% 10.times do %>
              <div class="swiper-slide">
                <div class="card__event mb-3">
                  <div style='background-image: url(<%= image_path 'default-banner.png'%>);background-size: cover; background-position: center;'></div>
                  <div class="event__content">
                    <div class="h-100 px-3 pb-3 flex-grow-1 d-flex flex-column justify-content-between">
                      <h5 class='mb-0'>Nome da ação</h5>
                      <div class="event__tags d-flex justify-content-start align-items-center">
                        <small class="tag">araruama</small>
                        <small class="tag">pescadores</small>
                      </div>
                    </div>
                    <div class="event__date ms-0 me-2 ms-md-3 me-md-2 mb-md-3">
                      <p class="mb-0">13</p>
                      <p class="mb-0">DEZ</p>
                      <p class="mb-0 date__year">2023</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>

          <div class="col-12 col-md-6 col-xl-4">
          </div>
      </div>

    </section>

  </div>
</div>
