<% content_for :meta_title, "#{@observatory.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @observatory.description.truncate(100) %>
<% content_for :meta_image, display_banner_as_background(@observatory) %>

<div data-controller="slide-n-fade-r">
  <div class="banner__observatory"
        style="background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%), url(<%= display_banner_as_background @observatory %>);">
    <div class="container d-flex flex-column justify-content-between pt-3">
      <%= link_to request.referrer, class: 'btn btn-figma-light', width: '40px', data: { controller: 'display-button-on-hover--off', action: 'mouseenter->display-button-on-hover#display', action: 'mouseout->display-button-on-hover#hide'} do %>
        <%= image_tag 'arrow-down.svg', class: 'image--left', width: '16px', style: 'transform: rotate(90deg); margin-right: 16px' %>
        Voltar
      <% end %>
      <div class="banner__content" data-slide-n-fade='out'>
        <h1 class="home__text mb-0"><%= @observatory.name %></h1>
        <h6 class='text-white'><%= @observatory.priority_subjects.first(2).map(&:name).join(', ') %></h6>
        <div class="d-flex align-items-center">
          <%= image_tag 'icon-pin.png', class: 'me-2', width: '15px', height: '20px' %>
          <p class='mb-0'><%= @observatory.neighborhood %></p>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>

  <%# HEADER 2 %>
  <div class="container">
      <div class="banner__content mb-5 box--anim box--hidden  " data-slide-n-fade='out'>
        <h1 class="home__text mb-0 text-primary"><%= @observatory.name %></h1>
        <h6 class='text-primary'><%= @observatory.priority_subjects.first(2).map(&:name).join(', ') %></h6>
        <div class="d-flex align-items-center">
          <%= image_tag 'icon-pin-blue.png', class: 'me-2', width: '15px', height: '20px' %>
          <p class='mb-0'><%= @observatory.neighborhood %></p>
        </div>
      </div>

  <%# DESCRIPTION %>
    <div class="observatory__show mb-5">
        <div class="row justify-content-between w-100">
          <div class="col-12 text-start" style="column-width: 421px;">
            <%= @observatory.description %>
          </div>
        </div>
    </div>

  <%# GALLERIES %>
    <%# <div class="cards__index cards__index--min-two mb-4"> %>
      <div class="cards--two mb-4" data-controller='photoswipe'>
        <% @photos.each do |photo| %>
          <a href="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            data-pswp-src="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            data-pswp-width="<%= photo.blob.metadata[:width] %>"
            data-pswp-height="<%= photo.blob.metadata[:height] %>"
            data-pswp-srcset="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
            target="_blank">
            <div class="card__index text-primary">
              <div style="background: url('https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>');background-size: cover;background-position: center; border-radius: 10px;"></div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center text-primary">
          <%= link_to 'VER GALERIAS', gallery_path(@observatory.gallery), class: 'btn btn__secondary continuous-3' %>
        </div>
      </div>

    <%# ACOES %>
    <% unless @observatory.events.empty? %>
      <div data-controller="filter-calendar">
        <section class="events mb-4">
          <div class="events__header mb-3">
            <div class="d-flex align-items-center px-md-3">
              <div class="flex-grow-1">
                <h5 class='mb-0'>Últimas ações</h5>
              </div>
              <div class="btn-icon btn-icon--square" data-action='click->filter-calendar#formDisplay'>
                <%= image_tag 'Calendar.png' %>
                <%= form_with url: observatory_path(@observatory), class: 'd-none box--anim box--hidden', data: { filter_calendar_target: 'form', action: 'submit->filter-calendar#search'} do |f| %>
                  <div class="d-flex">
                    <%= text_field_tag :query, params[:query], class: 'form-input flex-grow-1', data: { controller: 'flatpickr', flatpickr_is_range_value: 'true', filter_calendar_target: 'input' } %>
                    <%= f.submit 'Filtrar', class: 'btn btn-rede-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="container">
            <!-- Slider main container -->
            <div class="swiper" data-controller='swiper'>
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper" data-filter-calendar-target='results'>
                <!-- Slides -->
                <% @observatory.events.each do |album| %>
                  <div class="swiper-slide">
                    <%= link_to album_path(album, name: album.name) do %>
                      <div class="card__event mb-3">
                        <div class="card__event__image" style='background-image: url(<%= display_banner_as_background(album) %>);background-size: cover; background-position: center;'></div>
                        <div class="event__content gap-3 gap-3">
                          <div class="h-100 px-3 pb-3 flex-grow-1 d-flex flex-column justify-content-between">
                            <h5 class='mb-0'><%= album.name %></h5>
                            <div class="event__tags d-flex justify-content-start align-items-center">

                              <% album.tags.each do |tag| %>
                                <small class="tag"><%= tag.name %></small>
                              <% end %>
                            </div>
                          </div>
                          <div class="event__date ms-0 me-2 ms-md-3 me-md-2 mb-md-3">
                            <p class="mb-0"><%= album.event_date.day %></p>
                            <p class="mb-0"><%= album.event_date.strftime('%b') %></p>
                            <p class="mb-0 date__year"><%= album.event_date.year %></p>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <!-- If we need pagination -->
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </section>
      </div>
    <% end %>
  </div>

</div>

<%= image_tag 'observatory_contact_wave_top.svg', width: '100%' %>
<div class="observatory__contact">
  <div class="row">
    <div class="col-12">
      <div class="observatory__contact__wrapper">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="contact__info">
                <h5>Contato</h5>
                <div class="contact__list">
                  <div class="list-item">
                    <div class="d-flex align-items-center gap-2">
                      <%= image_tag "phone-icon.svg", width: '20px' %>
                      <p class="mb-0 contact__text">+55 (<%= @observatory.phone_number[0..1] %>) <%= @observatory.phone_number[2..] %></p>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="d-flex align-items-center gap-2">
                      <p class="mb-0 contact__text"><%= @observatory.email %></p>
                      <%= image_tag "mail-icon.svg", width: '20px' %>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="d-flex align-items-center gap-2">
                      <%= image_tag "icon-pin-blue.png", width: '12.5px', height: '16.5px' %>
                      <p class="mb-0 contact__text"><%= @observatory.phone_number %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6"
                 data-controller="map"
                 data-map-markers-value="<%= @markers.to_json %>"
                 data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              <div class="map__container"
                    style="height: 52vh;"
                    data-map-target="mapContainer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
    </div>
  </div>
</div>
<%= image_tag 'observatory_contact_wave_bottom.svg', width: '100%' %>
