<%= simple_form_for([:dashboard, gallery]) do |f| %>
  <%= f.input :published %>
  <%= f.input :name %>
  <div data-controller="display-photo-input">
    <%= f.input :is_event, label: 'Foi uma ação', input_html: { data: { display_photo_input_target: 'checkbox', action: 'change->display-photo-input#displayInput' } } %>
    <%= f.input :event_date, wrapper_html: { class: 'box--anim box--hidden', data: { display_photo_input_target: 'input' } } %>
  </div>
  <%# TAGS! %>
  <%#= f.association :observatory, input_html: { data: { controller: 'tom-select', tom_select_max_item_value: '1' } } %>
  <%#= f.association :methodology, input_html: { data: { controller: 'tom-select', tom_select_max_item_value: '1' } } %>
    <%= render 'dashboard/shared/form/banner_input', element: gallery, form: f %>
  <%= render 'dashboard/shared/form/submit_cancel', element: gallery, form: f %>
<% end %>
