<% content_for :meta_title, "Sobre- #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, display_banner_as_background(@project) %>
<div data-controller="scroll-reveal"
     data-scroll-reveal-class-value="in"
     data-scroll-reveal-threshold-value="0"
     data-scroll-reveal-root-margin-value="10px">
  <div class="container">
    <div class="about_us mt-5 mb-2 mb-lg-4">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-6 mb-4">
          <h1><span>Somos o</span> <br>PEA Rede <br>Observação</h1>
        </div>
        <div class="col-12  col-lg-6">
          <p style="text-align: justify;">O Projeto de Educação Ambiental (PEA) Rede Observação é uma medida de mitigação exigida pelo licenciamento ambiental federal, conduzido pelo IBAMA. Tem como objetivo realizar a organização social através de processos educativos que englobam formação, pesquisa e intervenção social.</p>
          <p style="text-align: justify;">O trabalho é realizado através de um acompanhamento técnico, pedagógico e administrativo que busca monitorar e avaliar os conflitos vivenciados pelas comunidades nos municípios da área de influência que estão relacionados à cadeia produtiva de óleo e gás.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="wave__wrapper" style="position: relative;">
    <%= image_tag 'contact-top-wave.png', width: '100%', class: 'about__top__wave' %>
      <div class="slide__wrapper_about">
        <div class="container">
          <div class="swiper swiper--custom" data-controller="swiper-slideshow">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <% @photos.each_with_index do |photo, index| %>
                <% numbers_as_text = ['one', 'two', 'three'] %>
                <% i = numbers_as_text[index] %>
                <div class="swiper-slide">
                  <div class="slide__card">
                    <div class="slide__card__image" style="background-image: url(<%= display_banner_as_background_image(photo) %>);">
                      <div class="row col-4 slide__subtitle--lg">
                        <% unless photo.record.send("slide_#{i}_subtitle".to_sym).empty? %>
                          <div class="slide__subtitle d-none d-lg-block">
                            <p><%= photo.record.send("slide_#{i}_subtitle".to_sym) %></p>
                          </div>
                        <% end %>
                      </div>
                    </div>
                    <% unless photo.record.send("slide_#{i}_subtitle".to_sym).empty? %>
                      <div class="slide__subtitle d-lg-none">
                        <p><%= photo.record.send("slide_#{i}_subtitle".to_sym) %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination pagination--custom__bottom"></div>
          </div>
        </div>
      </div>
    <%= image_tag 'contact-bottom-wave.png', width: '100%', class: "about__bottom__wave" %>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-n4 mt-lg-n5 mb-5">
    <%= link_to 'IR PARA ACERVO', imagens_galleries_path, class: "text-primary btn btn__secondary continuous-3", data: { scroll_reveal_target: 'item' } %>
  </div>

  <div class="container">
    <div class="about_us__methodologies mt-5 mt-lg-4" id="methodologies">
      <div class="d-flex justify-content-between align-items-center border border-warning border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-3">
        <h1 class='mb-0 fs-3 fs-md-2'>Metodologias</h1>
      </div>
      <div class="col-12 col-sm-10 col-md-8 col-lg-7">
        <p data-scroll-reveal-target="item" class="reveal" style="text-align: justify;">O PEA Rede Observação desenvolve suas atividades a partir da implementação de três eixos metodológicos presentes na sua estrutura central: Formação e Pesquisa, Comunicação Popular e Teatro do Oprimido. Estes eixos são disparadores de reflexões e buscam promover um ambiente educativo propício à produção de conhecimentos e o estímulo à intervenção social qualificada nos territórios impactados.</p>
      </div>
      <div class="row mb-3">
        <% @methodologies.each_with_index do |methodology, index| %>
          <div class="col-12 col-sm-4 mb-2 mb-md-4 pt-3 reveal" data-scroll-reveal-target="item">
            <%= link_to methodology, data: { scroll_reveal_target: "item", class: "reveal" } do %>
              <div class="new__card" >
                <div class="methodology__card"  style='background-image:url(<%= display_banner_as_background(methodology) %>); background-size: cover; background-position: center;'></div>
                  <%#= image_tag "#{methodology.name.downcase.parameterize}-banner.jpg", width: '100%' %>
                <div class="card__content">
                  <h6 class="text-<%= @text_colors[index] %>"><%= methodology.name %></h6>
                  <p class="text-primary"><%= methodology.card_description %></p>
                  <%= link_to 'Ver mais', methodology_path(methodology), class: "text-#{@text_colors[index]} btn btn__secondary continuous-3" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="position-relative mt-5">
    <%= image_tag 'contact-top-wave.png', width: '100%', class: 'collab__wave--top' %>
    <div style="background-color: #f3f5f7;">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center border border-warning border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-3">
          <h1 class='mb-0 fs-3 fs-md-2'>Colaboradores</h1>
        </div>
      </div>
      <div class="container">
        <!-- Slider main container -->
        <div class="swiper w-100" style='height: 330px;'
             data-controller="swiper-collaborators"
             data-swiper-collaborators-space-between-value="0"
             data-swiper-collaborators-slides-per-view-value="1"
             data-swiper-collaborators-slides-per-view-sm-value="2"
             data-swiper-collaborators-slides-per-view-md-value="3"
             data-swiper-collaborators-slides-per-view-lg-value="4"
             data-swiper-collaborators-slides-per-view-xl-value="5"
             data-swiper-collaborators-slides-per-view-xxl-value="6"
        >
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <% @collaborators.each do |collaborator| %>
              <div class="swiper-slide d-flex align-items-center justify-content-center">
                <%= render Card::CollaboratorComponent.new(name: collaborator.name, occupation: collaborator.display_occupation, image_url: collaborator.avatar, location: collaborator.location, color: collaborator.color_style) %>
              </div>
            <% end %>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="d-flex align-items-center justify-content-center pt-2 pb-3">
          <%= link_to 'Ver depoimentos', testimonials_path, class: "text-primary btn btn__secondary continuous-3" %>
        </div>
      </div>
    </div>
    <%= image_tag 'contact-bottom-wave.png', width: '100%', class: "collab__wave--bottom" %>
  </div>
</div>
