<div class="banner--home mb-5" style='background-image: url(<%= asset_path 'hero-image.png' %>);'>
  <div class="banner__wrapper">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <h1 class='mb-4'>Trabalhamos para reduzir os impactos do petróleo e gás na Bacia de Campos</h1>
            <div class="d-grid col-8 col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-auto">
              <%= link_to 'Saiba mais', '#', class: ' btn-rede-light' %>
            </div>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>
</div>

<div class="container ">
  <div class="row mb-5">
    <% %w(binoculos lampada megafone).each do |item| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <%= image_tag "#{item}.png" %>
          <p>11 observatorios na regiao bacia de campos</p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col-12 border border-5 border-danger border-end-0 border-top-0 border-bottom-0 ">
      <div class="container">
        <h2>Mapa de conflitos</h2>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="container">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

</div>

<div class="swiper mySwiper" data-controller='swiper'>
  <div class="container"><h2 class='mb-0'>Últimos eventos</h2></div>
  <div class="container swiper-wrapper"  data-swiper-target='wrapper'>
    <% dates = Array.new(rand(1..10)) { |i| Date.new 2022, rand(1..12), rand(1..26) }.sort.reverse %>
    <% dates.each do |date| %>
      <div class="swiper-slide">
        <div class="card-event border border-primary border-2" style="width: 286px; margin: 40px auto;">
          <div class="event-image border-bottom position-relative" style="background-image: url(<%= asset_path 'capa.png' %>); height: 240px;">
            <div class="event-date border d-flex flex-column align-items-center justify-content-center bg-white position-absolute top-100 start-0 translate-middle-y ms-3">
              <p class="mb-0" style="font-size: 1.1rem;"><%= date.day %></p>
              <p class="mb-0" style="font-size: 1.1rem;"><%= date.strftime('%^b') %></p>
              <p class="mb-0" style="font-size: .8rem;"><%= date.year %></p>
            </div>

          </div>
          <%#= image_tag 'capa.png' %>
          <div class="event-info mt-5 px-3 pb-3">
            <p class="fw-bold fs-4 mb-2">Teatro do Oprimido</p>
            <small class="mb-2" style="border: lightblue 1px solid; padding: 4px; border-radius: 4px;">ITAPEMIRIM</small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
</div>
<style>

.card-event .event-image {
  background-size: cover;
  background-position: center;
  height: 260px;
}
.event-date {
  height: 78px;
  width: 78px;
}
.event-date p {
    margin-bottom: 0;
}
</style>
