<div class="banner--home mb-5" style='background-image: url(<%= asset_path 'hero-image.png' %>);'>
  <div class="banner__wrapper">
    <div class="container">
      <div class="text-center">
        <h1 class='mb-4'>Trabalhamos para reduzir os impactos do petróleo e gás na Bacia de Campos</h1>
        <%= link_to 'Saiba mais', '#', class: ' btn-rede-light' %>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>
</div>

<div class="container ">
  <div class="row mb-5">
    <% %w(binoculos lampada megafone).each do |item| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <%= image_tag "#{item}.png" %>
          <p>11 observatorios na regiao bacia de campos</p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col-12 border border-5 border-danger border-end-0 border-top-0 border-bottom-0 ">
      <div class="container">
        <h2>Mapa de conflitos</h2>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="container">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

</div>

<div class="container"><h2 class='mb-0'>Últimos eventos</h2></div>
<div class="swiper mySwiper" data-controller='swiper' data-swiper-slides-per-view-value="1">
  <div class="swiper-wrapper"  data-swiper-target='wrapper'>
    <% dates = Array.new(rand(1..10)) { |i| Date.new 2022, rand(1..12), rand(1..26) }.sort.reverse %>
    <% dates.each do |date| %>
      <div class="swiper-slide">
        <div class="card__event">
          <div style='background-image: url(<%= image_path 'default-banner.png'%>);background-size: cover; background-position: center;'></div>
          <%= link_to '#' do %>
            <div class="event__content">
              <div class="h-100 px-3 pb-3 flex-grow-1 d-flex flex-column justify-content-between align-items-start">
                <h5 class='mb-0'>Nome da ação</h5>
                <div class="event__tags d-flex justify-content-start align-items-center">
                  <small class="tag">araruama</small>
                  <small class="tag">pescadores</small>
                </div>
              </div>
              <div class="event__date">
                <p class="mb-0"><%= date.day %></p>
                <p class="mb-0"><%= date.strftime('%b') %></p>
                <p class="mb-0 date__year"><%= date.year %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
