<div class="banner--home mb-5" style='background-image: url(<%= display_banner_as_background(@project) %>);'>
  <div class="banner__wrapper">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10">
          <h1 class=''><%= @project.banner_text %></h1>
          <%= link_to 'Saiba mais', about_us_path, class: ' btn-rede-light' %>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%' %>
  </div>
</div>

<div class="container ">
  <div class="row mb-4">
    <% @info_cards.each do |item| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <%= image_tag "#{item[:img_name]}.png" %>
          <p><%= item[:text] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <%= render 'observatories/map', markers: @markers, hide_filter: true %>
    </div>
  </div>
</div>

<div class="container"><h2 class='mb-0'>Últimas ações</h2></div>

<div class="ms-4 ms-lg-5 me-3 me-lg-0">
  <div class="events__carousel styled-scrollbars" data-controller="events-scroll" data-action="scroll->events-scroll#toggleScroll">
    <% dates = Array.new(rand(7..13)) { |i| Date.new 2022, rand(1..12), rand(1..26) }.sort.reverse %>
        <!-- Slides -->
    <% @galleries.each do |gallery| %>
      <div class="card__event" style="width: 345px;">
        <div class="card__event__image" style='background-image: url(<%= display_banner_as_background(gallery) %>);background-size: cover; background-position: center;'></div>
        <%= link_to '#' do %>
          <div class="event__content">
            <div class="h-100 flex-grow-1 d-flex flex-column justify-content-between align-items-start text-start">
              <h5 class='mb-3'><%= gallery.name %></h5>
              <div class="event__tags d-flex justify-content-start align-items-center">
                <% gallery.tags.each do |tag| %>
                  <small class="tag"><%= tag.name %></small>
                <% end %>
              </div>
            </div>
            <div class="event__date">
              <p class="mb-0"><%= gallery.event_date.day %></p>
              <p class="mb-0"><%= gallery.event_date.strftime('%b') %></p>
              <p class="mb-0 date__year"><%= gallery.event_date.year %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
