<div class="banner--home mb-5" style='background-image: url(<%= display_banner_as_background(@project) %>);'>
  <div class="banner__wrapper">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10">
          <h1 class='home__text'><%= @project.banner_text %></h1>
          <%= link_to 'Saiba mais', about_us_path, class: ' btn-rede-light' %>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%', class: 'banner__hero__image' %>
  </div>
</div>

<div class="container ">
  <div class="row mb-4">
    <% @info_cards.each do |item| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <%= image_tag "#{item[:img_name]}.svg" %>
          <p><%= item[:text] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <%= render 'observatories/map', markers: @markers, hide_filter: true, header: true, tag: :h3 %>
    </div>
  </div>

  <div class="row mb-3">

    <% if false %>
      <div data-controller="filter-calendar">
        <section class="events mb-4">
          <div class="events__header mb-3">
            <div class="d-flex align-items-center px-md-3">
              <div class="flex-grow-1">
                <h5 class='mb-0'>Últimas ações</h5>
              </div>
              <div class="btn-icon btn-icon--square" data-action='click->filter-calendar#formDisplay'>
                <%= image_tag 'Calendar.png' %>
                <%= form_with url: root_path, method: :get, class: 'd-none box--anim box--hidden', data: { filter_calendar_target: 'form', action: 'submit->filter-calendar#search'} do |f| %>
                  <div class="d-flex">
                    <%= text_field_tag :from_date, params[:from_date], class: 'form-input flex-grow-1', data: { controller: 'flatpickr', flatpickr_is_range_value: 'true', filter_calendar_target: 'input' } %>
                    <%= f.submit 'Filtrar', class: 'btn btn-rede-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="container">

          </div>
        </section>
      </div>
    <% end %>


    <%# ACOES %>

    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center border border-warning border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-4">
          <h3 class='mb-0 fs-3 fs-md-2'>Últimas ações</h3>
        </div>
      </div>
    </div>
    <!-- Slider main container -->
    <div class="swiper px-3" data-controller='swiper' style="height: 430px;">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper" data-filter-calendar-target='results'>
        <!-- Slides -->
        <% @events.each do |gallery_or_album| %>
          <div class="swiper-slide">
            <%= link_to gallery_or_album do %>
              <div class="card__event mb-3">
                <div class="card__event__image" style='background-image: url(<%= display_banner_as_background(gallery_or_album) %>);background-size: cover; background-position: center;'></div>
                <div class="event__content">
                  <div class="h-100 px-md-3 pb-md-3 flex-grow-1 d-flex flex-column justify-content-between">
                    <h5 class='mb-0'><%= gallery_or_album.name %></h5>
                    <div class="event__tags d-flex justify-content-start align-items-center">

                      <% gallery_or_album.tags.each do |tag| %>
                        <small class="tag"><%= tag.name %></small>
                      <% end %>
                    </div>
                  </div>
                  <div class="event__date ms-0 me-2 ms-md-3 me-md-2 mb-md-3">
                    <p class="mb-0"><%= gallery_or_album.event_date.day %></p>
                    <p class="mb-0"><%= gallery_or_album.event_date.strftime('%b') %></p>
                    <p class="mb-0 date__year"><%= gallery_or_album.event_date.year %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <%# ARTICLES %>
  <div class="articles__home">
    <div class="row mb-5 justify-content-center">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center border border-news border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-4">
          <h3 class='mb-0 fs-3 fs-md-2'>Últimas notícias</h3>
        </div>
      </div>

      <div class="articles__recent">
        <div class="row mb-4">
          <div class="col-12 col-xl-6 article--main mb-3 mb-xl-0">
            <%#= link_to article_path(@featured_article), class: 'text-reset' do %>
              <div class="article__card min-height-100">
                <div class="card__image card__image--highlight" style='background-image:url(<%= display_banner_as_background(@featured) %>); background-size: cover; background-position: center;'>
                </div>
                <div class="article__card__content">
                  <div class="card__content__header d-flex justify-cotent-start gap-4 align-items-center mb-3">
                    <span class="article__content__date"><%= @featured.created_at.strftime('%d.%m.%Y') %></span>
                    <%# <small>= article.tags.first.name</small> %>
                    <div class="article__home__tags">
                      <% @featured.tags.each_with_index do |tag, index| %>
                        <%= link_to articles_path(tags: [tag.name]) do %>
                          <small class="tag <%= 'tag--hidden' if index.positive? %>"><%= tag.name %></small>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <%= link_to article_path(@featured), class: 'd-block' do %>
                    <h5 class="text-reset mb-lg-0"><%= @featured.header %></h5>
                  <% end %>
                </div>
              </div>
            <%# end %>
          </div>

          <div class="col-12 col-xl-6">
            <div class="row">
              <% @articles.each_with_index do |article, index| %>
                <div class="col-6 <%= 'mb-3' unless (@articles.length - 2..@articles.length - 1).include?(index) %>">
                  <%= link_to article do %>
                    <div class="article__home min-height-100">
                      <div class="article__home_image" style="background-image: url(<%= display_banner_as_background(article) %>);height: 124px; background-size: cover; background-position: center;">
                      </div>
                      <div class="article__home__content">
                        <div class="article__home__content__info mb-3">
                          <span class="article__content__date mb-1"><%= article.created_at.strftime('%d/%m/%y') %></span>
                          <div class="article__home__tags">
                            <% article.tags.each_with_index do |tag, index| %>
                              <small class="tag <%= 'tag--hidden' if index.positive? %>"><%= tag.name %></small>
                            <% end %>
                          </div>
                        </div>
                        <h5 class="article__home_header text-reset"><%= article.header.truncate(86) %></h5>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render 'contacts/form' %>
