<% cache @project do %>
  <%= render 'home_banner', project: @project %>
<% end %>

<div class="container ">
  <%= render 'info_cards', info_cards: @info_cards %>

  <%= render 'teaser', project: @project %>

  <div class="row mb-5" data-controller="scroll-reveal">
    <div class="col-12">
      <%= render 'observatories/map', tilesets: @tilesets, hide_filter: true, header: true, tag: :h3, css_classes: { class: 'mb-0 fs-3 fs-md-2' } %>
    </div>
  </div>

  <%= render 'events', events: @events %>

  <%# ARTICLES %>
  <%= render 'articles', featured: @featured, articles: @articles %>

</div>

<%= render 'contacts/form' %>
