<div class="banner--home mb-5" style='background-image: url(<%= display_banner_as_background(@project) %>);'>
  <div class="banner__wrapper">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-md-10">
          <h1 class='home__text'><%= @project.banner_text %></h1>
          <%= link_to 'Saiba mais', about_us_path, class: ' btn-rede-light' %>
        </div>
      </div>
    </div>
    <%= image_tag 'hero-wave.png', width: '100%', class: 'banner__hero__image' %>
  </div>
</div>

<div class="container ">
  <div class="row mb-4">
    <% @info_cards.each do |item| %>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card__we">
          <%= image_tag "#{item[:img_name]}.png" %>
          <p><%= item[:text] %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <%= render 'observatories/map', markers: @markers, hide_filter: true %>
    </div>
  </div>
</div>


<div class="container">
 <div class="row justify-content-center mt-4">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center border border-warning border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-2 ps-md-3 ps-lg-4 mb-3">
        <h1 class='mb-0 fs-3 fs-md-2'>Últimas ações</h1>
      </div>
    </div>
  </div>
  <div class="events__carousel styled-scrollbars" data-controller="events-scroll" data-action="scroll->events-scroll#toggleScroll">
      <!-- Slides -->
    <% if @events.empty? %>
      <p>Em breve novas atividades.</p>
    <% else %>
      <% @events.each do |gallery| %>
        <div class="card__event" style="width: 345px;">
          <%= link_to url_for(gallery) do %>
            <div class="card__event__image" style='background-image: url(<%= display_banner_as_background(gallery) %>);background-size: cover; background-position: center;'></div>
              <div class="event__content">
                <div class="h-100 flex-grow-1 d-flex flex-column justify-content-between align-items-start text-start">
                  <h5 class='mb-3'><%= gallery.name %></h5>
                  <div class="event__tags d-flex justify-content-start align-items-center">
                    <% gallery.tags.each do |tag| %>
                      <small class="tag"><%= tag.name %></small>
                    <% end %>
                  </div>
                </div>
                <div class="event__date">
                  <p class="mb-0"><%= gallery.event_date.day %></p>
                  <p class="mb-0"><%= gallery.event_date.strftime('%b') %></p>
                  <p class="mb-0 date__year"><%= gallery.event_date.year %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="container">

</div>
