<div class="col-12 map__wrapper mt-5" style="width: 100% !important;"
                   data-controller="map fullscreen-element"
                   data-fullscreen-element-maximize-icon-value="expand"
                   data-fullscreen-element-minimize-icon-value="compress"
                   data-map-markers-value="<%= [] %>"
                   data-map-can-close-value="false"
                   data-map-style-value="mapbox://styles/dedemenezes/cltdkdgwl009t01qo7f6kbtlg"
                   data-map-tilesets-value="<%= @tilesets.to_json %>"
                   data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <div class="map__container"
                      style="height: 80vh;"
                      data-map-target="mapContainer"
                      data-fullscreen-element-target="mapContainer">
    <%= render 'observatories/map_subtitles', map_subtitles: icons_and_texts %>
    <div class="fullscreen_icon btn btn-light" data-action="click->fullscreen-element#toggle" data-fullscreen-element-target="button">
      <%= icon('fa-solid', 'expand') %>
    </div>
  </div>

</div>
