<div class="container">
  <div class="about_us mt-5 mb-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 col-lg-6 mb-4">
        <h1><span>Metodologia</span> <br><%= @methodology.name %></h1>
      </div>
      <div class="col-12  col-lg-6 mb-3">
        <p><%= @methodology.description %></p>
      </div>

      <%# BANNER_ONE %>

      <div class="col-12  col-lg-6 mb-3">
        <h5 class="mb-3"><%= @methodology.header_one %></h5>
        <p><%= @methodology.description_one %></p>
        <% if @methodology.header_two.present? %>
          </div>
          <div class="col-12  col-lg-6 mb-3">
            <h5 class="mb-3"><%= @methodology.header_two %></h5>
            <p><%= @methodology.description_two %></p>
          </div>
        <% else %>
            <p><%= @methodology.description_two %></p>
          </div>
        <% end %>

      <div class="col-12 col-md-8">
        <%= @methodology.content %>
      </div>
    </div>
  </div>
</div>
