<div class="container">
  <div class="about_us my-5">
    <div class="row align-items-center justify-content-center mb-4">
      <div class="col-12 col-lg-7 mb-4">
        <h1><span>Metodologia</span> <br><%= @methodology.name %></h1>
      </div>
      <div class="col-12 col-lg-5 mb-3">
        <p><%= @methodology.description %></p>
      </div>
    </div>
  </div>
</div>

<%# BANNER_ONE %>
<%= image_tag 'methodology-top-wave.svg', width: '100%' %>
<div style="background-color: #F9F9F9;">
  <div class="container">
    <div class="row mb-0 py-2">
      <div class="col-12 col-lg-6">
        <div class="methodology__content pe-md-5">
          <h5 class="mb-3"><%= @methodology.header_one %></h5>
          <p><%= @methodology.description_one %></p>
        </div>
          <%#= image_tag @methodology.banner.url, width: '100px' %>
      </div>
      <div class="col-12 col-lg-6">
        <div class="methodology__image">
          <div class="card__image-bg h-100"
              style="background-image: url(<%= @methodology.banner.url %>);">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= image_tag 'methodology-bottom-wave.svg', width: '100%' %>


<%# BANNER_TWO %>
<div class="row flex-row-reverse mb-4">
  <div class="col-12 col-lg-6">
    <div class="methodology__content pe-md-5">
      <h5 class="mb-3"><%= @methodology.header_two %></h5>
      <p><%= @methodology.description_two %></p>
    </div>
      <%#= image_tag @methodology.banner.url, width: '100px' %>
  </div>
  <% if @methodology.banner_two.attached? %>
    <div class="col-12 col-lg-6">
      <div class="methodology__image">
        <div class="card__image-bg h-100"
            style="background-image: url(<%= @methodology.banner_two.url %>);">
        </div>
      </div>
    </div>
  <% end %>
</div>
