<a href="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
   data-pswp-src="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
   data-pswp-width="<%= photo.blob.metadata[:width] %>"
   data-pswp-height="<%= photo.blob.metadata[:height] %>"
   data-pswp-srcset="https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>"
   target="_blank">
  <div class="card__index text-primary">
    <div style="background: url('https://rede-observacao-prod.s3.us-east-2.amazonaws.com/<%= photo.key %>');background-size: cover;background-position: center; border-radius: 10px;"></div>
  </div>
</a>
