<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-4">
      <%= render 'shared/breadcrumbs' %>
      <div class="d-flex justify-content-between align-items-center border border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
        <h1><%= @album.name %></h1>
      </div>
    </div>
  </div>
  <div class="cards__index">
    <% @album.photos.each do |photo| %>
      <% if @album.pdf?(photo) %>
        <%= link_to photo.filename.to_s, photo.url %>
      <% else %>
        <%= link_to photo.url, target: '_blank' do %>
          <div class="card__index text-primary">
            <div style="background: url(<%= photo.url %>);background-size: cover;background-position: center; border-radius: 10px;"></div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
