<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nova mensagem enviada por <%= @first_name %> <%= @last_name %> <small><%= @email %></small></h1>
    <br>
    <p>
      <%= @message %><br>
    </p>
    <br>
    <h3>Informações do usuário</h3>
    <p>Nome: <%= @first_name %> <%= @last_name %></p>
    <p>email: <%= @email %></p>
  </body>
</html>
