
<div data-controller="toggle-on-change">

  <div class="">
    <%= form.input :category,
                 collection: Album::CATEGORIES,
                 label_html: { class: 'input-group-text mb-0'},
                 wrapper_html: { class: 'input-group' },
                 label_method: :second,
                 value_method: :first,
                 input_html: {
                  data: {
                    action: 'change->toggle-on-change#update',
                    toggle_on_change_target: 'category'
                  }
                } %>
  </div>

  <div class="attachment-inputs" data-controller="toggle-element">
    <div class="d-flex justify-content-start align-items-center">
      <div class="form-check tag-item d-none" data-toggle-on-change-target='photo'>
        <%= check_box_tag :with_images,
                            '1',
                            false,
                            class: 'form-check-input tag-selector',
                            data: {
                              action: 'change->toggle-element#photoInput'
                            } %>
        <label class="form-check-label" for="with_images">Adicionar imagens</label>
      </div>
      <div class="d-none" data-toggle-element-target='photoInput'>
        <%= form.input :photos,
                      as: :file,
                      input_html: {
                        multiple: true,
                        class: 'd-none',
                        data: {
                          photo_preview_target: "photoInput",
                          action: 'change->photo-preview#displayFilesCounter'
                        }
                      },
                      label_html: {
                        class: 'upload-photo',
                        data: {
                          photo_preview_target: 'photoPreview'
                        }
                      },
                      wrapper_html: {
                        class: 'box--anim mb-out', data: {
                          photo_preview_target: 'submit',
                          controller: 'photo-preview'
                        }
                      },
                      label: '📷 Selecione as imagens' %>
      </div>
      <div class="form-check tag-item d-none" data-toggle-on-change-target='document'>
        <%= check_box_tag :with_documents,
                            '1',
                            false,
                            class: 'form-check-input tag-selector',
                            data: {
                              action: 'change->toggle-element#docInput'
                            } %>
        <label class="form-check-label" for="with_documents">Adicionar documentos</label>
      </div>
      <div class="d-none" data-toggle-element-target='docInput'>
        <%= form.input :documents,
                      as: :file,
                      input_html: {
                        multiple: true,
                        class: 'd-none',
                        data: {
                          photo_preview_target: "photoInput",
                          action: 'change->photo-preview#displayFilesCounter'
                        }
                      },
                      label_html: {
                        class: 'upload-photo',
                        data: {
                          photo_preview_target: 'photoPreview'
                        }
                      },
                      wrapper_html: {
                        class: 'box--anim mb-out', data: {
                          photo_preview_target: 'submit',
                          controller: 'photo-preview'
                        }
                      },
                      label: "🗄 Selecione os arquivos" %>
      </div>
      <div class="w-100" data-toggle-on-change-target="video" data-controller="duplicate-inputs">
        <div class="w-100" data-duplicate-inputs-target="formFields">
          <%#= render 'dashboard/videos/form', video: Video.new %>
          <p class='mb-1' data-duplicate-inputs-target="title">Video 1</p>
          <%= form.simple_fields_for :videos do |videos_form| %>
            <%= videos_form.input :name, wrapper_html: { class: 'flex-grow-1' } %>
            <%= videos_form.input :description %>
            <%= videos_form.input :url %>
          <% end %>
        </div>
        <button type="button" class="btn btn-primary" data-action="click->duplicate-inputs#add"><%= icon('fa-solid', 'plus') %></button>
      </div>
    </div>
  </div>
</div>
