<div class="d-none d-lg-flex flex-grow-1">
  <ul class="navbar-nav d-flex align-items-center justify-content-center justify-content-lg-evenly flex-grow-1">
    <li class="dropdown position-inherit">
      <%= render Dropdown::TogglerComponent.new("Sobre", toggler_id: 'about-dropdown-toggler') %>
      <%= render Dropdown::ContentComponent.new do %>
        <div class="d-flex pt-2 pb-3">
          <div class="d-flex flex-columns justify-content-between pe-3 border-end border-light" style="">
            <!-- Nav tabs -->
            <ul class="nav d-inline-flex flex-column align-items-start nav-pills nav-tabs border-bottom-0" style="min-width: 216px" id="myTab" role="tablist">
              <li class="mb-lg-3 w-100">
                <%= render NavLinkComponent.new("O projeto", about_us_path) %>
              </li>
              <li class="mb-lg-3 w-100">
                <%= render Dropdown::TabButtonComponent.new("Eixos", id: 'materials-tab', target: 'nav-materials') %>
              </li>
            </ul>
          </div>
          <div class="tab-content flex-grow-1">
            <%= render Dropdown::TabContentComponent.new(
              navbar_materials_path,
              frame_id: "nav-materials",
              aria_labelledby: "materials-tab",
              index: 2
            ) %>
          </div>
        </div>
      <% end %>
    </li>

    <%# Observatorios %>
    <li class="dropdown position-inherit">
      <%= render Dropdown::TogglerComponent.new("Observatórios", toggler_id: 'observatory-dropdown-toggler') %>
      <%= render Dropdown::ContentComponent.new do %>
        <%= turbo_frame_tag "nav-observatories", src: navbar_observatories_path, loading: "lazy" do %>
          <div class="d-flex align-items-center justify-content-center py-4">
            <div class="spinner-border text-primary" role="status"></div>
          </div>
        <% end %>
      <% end %>
    </li>

    <%# Acervo %>
    <li class="dropdown position-inherit">
      <%= render Dropdown::TogglerComponent.new("Produtos") %>
      <%= render Dropdown::ContentComponent.new(extra_class: "d-flex") do %>
        <div class="d-flex pt-2 pb-3">
          <div class="d-flex flex-columns justify-content-between pe-3 border-end border-light" style="">
            <!-- Nav tabs -->
            <ul class="nav d-inline-flex flex-column align-items-start nav-pills nav-tabs border-bottom-0" style="min-width: 216px" id="myTab" role="tablist">
              <li class="mb-lg-3 w-100">
                <%= render Dropdown::TabButtonComponent.new("Audiovisuais", id: 'videos-tab', target: 'nav-videos', is_active: true) %>
              </li>
              <li class="mb-lg-3 w-100">
                <%= render Dropdown::TabButtonComponent.new("Imagens", id: 'images-tab', target: 'nav-images') %>
              </li>
            </ul>
          </div>

          <!-- Tab panes -->
          <div class="tab-content flex-grow-1 position-relative">
            <%= render Dropdown::TabContentComponent.new(
              navbar_videos_path,
              frame_id: "nav-videos",
              aria_labelledby: "videos-tab",
              index: 0,
              active: true
            ) %>
            <%= render Dropdown::TabContentComponent.new(
              navbar_images_path,
              frame_id: "nav-images",
              aria_labelledby: "images-tab",
              index: 1
            ) %>
          </div>
        </div>
      <% end %>
    </li>

    <%= render NavItemComponent.new do %>
      <%= render NavLinkComponent.new("Notícias", articles_path) %>
    <% end %>

    <%= render NavItemComponent.new do %>
      <%= render NavLinkComponent.new("Mapa", mapa_observatories_path) %>
    <% end %>

    <%= render NavItemComponent.new do %>
      <%= render NavLinkComponent.new("Contato", new_contact_path) %>
    <% end %>
  </ul>

  <div class="navbar-nav d-none align-items-center mx-lg-0 mx-xl-3">
    <%= icon('fa-solid', 'xmark', class: "nav-item fs-4 ms-2", data: { action: "click->reveal-on-click#hide" }) %>
  </div>


  <ul class="navbar-nav navbar-social">
    <% @social_urls.each do |social, link| %>
      <%= render NavItemComponent.new(extra_css: "pe-0 me-0 pe-xl-1") do %>
        <%= render NavLinkComponent.new(icon('fa-brands', social.to_s), "https://www.#{social.to_s}.com/#{link}/", css_class: 'fs-4 rede-link', target: "_blank") %>
      <% end %>
    <% end %>
  </ul>
</div>
