<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 my-4">
      <%= render 'shared/breadcrumbs' %>
      <div class="d-flex justify-content-between align-items-center border border-info border-5 border-end-0 border-top-0 border-bottom-0 ps-4">
        <h1><%= @gallery.name %></h1>
        <% if @gallery.observatory? %>
          <%= link_to @gallery.observatory, class: "btn-icon d-none d-md-block" do %>
            Visitar observatório
          <% end %>
        <% end %>
          <%#= image_tag 'filter-icon-2.png', width: '12px' %>
      </div>
    </div>
  </div>
  <div class="cards__index">
    <% @albums.each do |album| %>
      <%= link_to album_path(album) do %>
        <div class="card__index text-primary">
          <div style="background: url(<%= display_banner_as_background(album) %>);background-size: cover;background-position: center;">
          </div>
          <p><%= album.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
