<div class="bg-white border px-2 py-3 h-100">
  <ul class="list-group border-0">
    <li class="list-group-item border-0">
      <%= link_to home_path do %>
        <%= icon 'fa-solid', 'house-user' %> Dashboard
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_projects_path do %>
        <%= icon('fa-solid', 'briefcase') %> Projects
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_observatories_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Observatories
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_methodologies_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Metodologies
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_articles_path do %>
        <%= icon('fa-solid', 'briefcase') %> Articles
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_galleries_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Galleries
      <% end %>
      <ul class="list-group border-0 mb-0">
        <li class="list-group-item border-0">
          <%= link_to dashboard_albums_path do %>
            <%= icon('fa-solid', 'briefcase') %> Albums
          <% end %>
        </li>
      </ul>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_tags_path do %>
        <%= icon('fa-solid', 'check') %> Tags
      <% end %>
    </li>
  </ul>
</div>
