<div class="bg-white border px-2 py-3 h-100">
  <ul class="list-group border-0">
    <li class="list-group-item border-0">
      <%= link_to home_path do %>
        <%= icon 'fa-solid', 'house-user' %> Dashboard
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_projects_path do %>
        <%= icon('fa-solid', 'briefcase') %> Projeto
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_methodologies_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Metodologias
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_observatories_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Observatórios
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_conflict_types_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Conflitos
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_priority_types_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Sujeitos prioritários
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_articles_path do %>
        <%= icon('fa-solid', 'briefcase') %> Notícias
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_tags_path do %>
        <%= icon('fa-solid', 'check') %> Tags
      <% end %>
    <li class="list-group-item border-0">
      <%= link_to dashboard_mapbox_tilesets_path do %>
        <%= icon('fa-solid', 'check') %> Tilesets
      <% end %>
    </li>
    <li class="list-group-item border-0">
      <%= link_to dashboard_galleries_path do %>
        <%= icon 'fa-solid', 'table-columns' %> Acervos
      <% end %>
      <ul class="list-group border-0 mb-0">
        <li class="list-group-item border-0">
          <%= link_to documentos_dashboard_albums_path do %>
            <%= icon('fa-solid', 'briefcase') %> Documentos
          <% end %>
        </li>
        <li class="list-group-item border-0">
          <%= link_to imagens_dashboard_albums_path do %>
            <%= icon('fa-solid', 'briefcase') %> Imagens
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>
