<!DOCTYPE html>
<html>
  <head>
    <title>RailsRede</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar", background_color: 'navbar-lewagon--purple' %>
    <div class="container-fluid px-0">
      <div class="row">
        <div class="col-sm-3">
          <%= render 'shared/dashboard/sidebar' %>
        </div>
        <div class="col-sm-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <% real_path = '' %>
            <% params[:controller].split('/').each do |path| %>
              <% real_path += "/#{path}" %>
              <li class="breadcrumb-item"><%= link_to path.capitalize, real_path %></li>
            <% end %>
            <%# <li class="breadcrumb-item active" aria-current="page">Library</li> %>
          </ol>
        </nav>
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "shared/flashes" %>

  </body>
</html>
