<!DOCTYPE html>
<html>
  <head>
    <title>RailsRede</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render Dashboard::NavbarComponent.new(user: current_user) %>
    <div class="container-fluid">
      <div class="row">
        <%= render Dashboard::SidebarComponent.new %>
        <main class="col-md-9 ms-sm-auto col-lg-9 col-xl-10 px-md-4">
          <% if controller_name != 'dashboard'  %>
            <div class="mb-3">
              <% if controller_name.match?(/materials/) %>
                <%= render 'dashboard/shared/header', klass: Album, hide_button: hide_nested_links(controller_name) %>
              <% else %>
                <%= render 'dashboard/shared/header', klass: controller_name.singularize.split('_').map(&:capitalize).join.constantize, hide_button: hide_nested_links(controller_name) %>
              <% end %>
            </div>
            <div class="mb-3">
              <%= render 'dashboard/shared/content_menu', hide_link_new: hide_nested_links(controller_name) unless rendering_documents_or_images_or_videos? %>
            </div>
          <% else %>
            <div class="dashboard__header mb-3">
              <div class="d-flex justify-content-between align-items-center p-3 border-bottom">
                <h1>Dashboard</h1>
              </div>
            </div>
          <% end %>
            <div style="overflow-x: scroll;">
              <%= yield %>
            </div>
        </main>
      </div>
    </div>
  </body>
</html>
