<!DOCTYPE html>
<html>
  <head>
    <title>RailsRede</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/my_navbar", background_color: 'navbar-lewagon--blue' %>
      <main class="main-content">
        <div class="container-fluid ps-0 h-100">
          <div class="row h-100">
            <div class="col-12 col-md-3 col-xl-2 pe-0">
              <%= render 'dashboard/shared/sidebar' %>
            </div>
            <div class="col-12 col-md-9 col-xl-10 ps-0">
              <div class="container">
                <% if controller_name != 'dashboard'  %>
                  <%= render 'dashboard/shared/header', klass: controller_name.singularize.split('_').map(&:capitalize).join.constantize, hide_button: hide_nested_links(controller_name) %>
                  <%= render 'shared/breadcrumbs' %>
                  <%= render 'dashboard/shared/content_menu', hide_link_new: hide_nested_links(controller_name) %>
                <% else %>
                  <h1>Dashboard</h1>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%= render 'shared/footer' %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
